.attractions-container {
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .05)
}

.attractions-container .att-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    margin: .2rem;
    height: .89rem;
    line-height: .89rem
}

.attractions-container .att-header .att-title {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    font-family: PingFangSC-Regular;
    font-size: .32rem;
    color: #4a4a4a
}

.attractions-container .att-header .att-title span {
    font-family: PingFangSC-Regular;
    font-size: .24rem;
    color: #999
}

.attractions-container .att-header .att-total-price {
    font-family: PingFangSC-Regular;
    font-size: .42rem;
    color: #fe6666;
    text-align: right
}

.attractions-container .att-body .att-item {
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
}

.attractions-container .att-body .att-item .item-banner {
    margin: .2rem
}

.attractions-container .att-body .att-item .item-banner img {
    width: 1.4rem;
    height: 1.4rem;
    border-radius: .04rem
}

.attractions-container .att-body .att-item .item-content {
    margin: .2rem;
    width: 100%
}

.attractions-container .att-body .att-item .item-content .item-name-price {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
}

.attractions-container .att-body .att-item .item-content .item-name-price .item-name {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    font-family: PingFangSC-Regular;
    font-size: .32rem;
    color: #333
}

.attractions-container .att-body .att-item .item-content .item-name-price .item-sell-price {
    font-family: PingFangSC-Regular;
    font-size: .24rem;
    color: #fe6666;
    text-align: right
}

.attractions-container .att-body .att-item .item-content .item-name-price .item-sell-price em {
    font-size: .42rem
}

.attractions-container .att-body .att-item .item-content .item-instructions {
    font-family: PingFangSC-Regular;
    font-size: .2rem;
    color: #999
}

.attractions-container .att-body .att-item .item-content .item-others {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    margin-top: .2rem
}

.attractions-container .att-body .att-item .item-content .item-others .item-others-left {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
}

.attractions-container .att-body .att-item .item-content .item-others .item-others-left .item-tag {
    font-family: PingFangSC-Regular;
    font-size: .2rem;
    color: #6392fe;
    text-align: center;
    background: rgba(99, 146, 254, .3);
    border: 1px solid #6392fe;
    border-radius: .1rem;
    line-height: .4rem
}

.attractions-container .att-body .att-item .item-content .item-others .item-others-left .item-readme {
    margin-left: .1rem;
    text-align: center;
    font-family: PingFangSC-Regular;
    font-size: .24rem;
    color: #999
}

.attractions-container .att-body .att-item .item-content .item-others .item-others-left .item-readme span {
    height: .4rem;
    margin-right: .1rem;
    border: 1px solid #c3c3c3
}

.attractions-container .att-body .att-item .item-content .item-others .item-others-left .item-readme i {
    display: inline-block;
    width: .09rem;
    height: .18rem;
    background: url(../../images/bus/icon-right-black.png) 50% no-repeat;
    background-size: 100% 100%;
    margin-left: .1rem
}

.attractions-container .att-body .att-item .item-content .item-others .item-others-right .btn-buy {
    width: .7rem;
    height: .4rem;
    line-height: .4rem;
    background: #6392fe;
    box-shadow: 0 0 .2rem 0 rgba(61, 59, 238, .3);
    border-radius: .06rem;
    font-family: PingFangSC-Regular;
    font-size: .2rem;
    color: #fff;
    letter-spacing: 0;
    text-align: center
}

.attractions-container .att-body .active {
    width: .8rem;
    height: .8rem;
    right: 0;
    position: absolute;
    background: url(../../images/bus/icon-buy.png) 50% no-repeat;
    background-size: 100%
}

.attractions-container .att-body .item-person-panle {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
}

.attractions-container .att-body .item-person-panle .item-person-info {
    font-family: PingFangSC-Regular;
    font-size: .24rem;
    color: #999;
    margin: .1rem;
    margin-right: .2rem;
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    flex: auto;
    padding-left: 1.8rem
}

.attractions-container .att-body .item-person-panle .item-person-info .person-info {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1
}

.attractions-container .att-body .item-person-panle .item-person-info .person-info .person {
    color: #333
}

.attractions-container .att-body .item-person-panle .item-person-info .person-info .person-price {
    color: #fe6666
}

.attractions-container .att-body .item-person-panle .person-btn {
    margin: .2rem
}

.attractions-container .att-body .item-person-panle .person-btn .btn-edit {
    width: .7rem;
    height: .4rem;
    line-height: .4rem;
    background: #6392fe;
    box-shadow: 0 0 .2rem 0 rgba(61, 59, 238, .3);
    border-radius: .06rem;
    font-family: PingFangSC-Regular;
    font-size: .2rem;
    color: #fff;
    letter-spacing: 0;
    text-align: center
}

.attractions-container .att-body .load-more {
    font-family: PingFangSC-Regular;
    font-size: .24rem;
    color: #6392fe;
    text-align: center;
    height: .6rem;
    line-height: .6rem
}

#attIntroduce {
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    height: 80%
}

#attIntroduce header {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: .84rem;
    line-height: .84rem;
    width: 100%;
    border-bottom: 1px solid #f1f1f1
}

#attIntroduce header .title {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    font-family: PingFangSC-Regular;
    font-size: .28rem;
    color: #333;
    text-align: center
}

#attIntroduce header .close {
    width: .42rem;
    height: .42rem;
    background: url(../../images/bus/icon-close.png) 50% no-repeat;
    background-size: 100%;
    margin: .2rem
}

#attIntroduce .content {
    margin: .2rem;
    font-size: .24rem
}

#attIntroduce .btn-toBuy {
    bottom: 0;
    left: 0;
    font-family: PingFangSC-Regular;
    font-size: .38rem;
    color: #fff;
    text-align: center;
    height: 1rem;
    line-height: 1rem;
    width: 7.06rem;
    background: #6392fe;
    border-radius: 1rem;
    margin: .2rem
}

#attReadInfo {
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    height: 80%
}

#attReadInfo header {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: .84rem;
    line-height: .84rem;
    width: 100%;
    border-bottom: 1px solid #f1f1f1
}

#attReadInfo header .title {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    font-family: PingFangSC-Regular;
    font-size: .28rem;
    color: #333;
    text-align: center
}

#attReadInfo header .close {
    width: .42rem;
    height: .42rem;
    background: url(../../images/bus/icon-close.png) 50% no-repeat;
    background-size: 100%;
    margin: .2rem
}

#attReadInfo .content {
    margin: .2rem;
    font-size: .24rem
}

#attReadInfo .btn-toBuy {
    bottom: 0;
    left: 0;
    font-family: PingFangSC-Regular;
    font-size: .38rem;
    color: #fff;
    text-align: center;
    height: 1rem;
    line-height: 1rem;
    width: 7.06rem;
    background: #6392fe;
    border-radius: 1rem;
    margin: .2rem
}

#attOrderInfo {
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    height: 80%
}

#attOrderInfo header {
    height: .84rem;
    background: #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 100%
}

#attOrderInfo header .head-left {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    margin: .2rem
}

#attOrderInfo header .head-right {
    margin: .2rem
}

#attOrderInfo header .btn-order-canle {
    background: #fff;
    box-shadow: 0 0 .2rem 0 rgba(0, 0, 0, .1);
    color: #999
}

#attOrderInfo header .btn-order-canle, #attOrderInfo header .btn-order-ok {
    width: .7rem;
    height: .4rem;
    line-height: .4rem;
    border-radius: .06rem;
    font-family: PingFangSC-Regular;
    font-size: .2rem;
    letter-spacing: 0;
    text-align: center
}

#attOrderInfo header .btn-order-ok {
    background: #6392fe;
    box-shadow: 0 0 .2rem 0 rgba(61, 59, 238, .3);
    color: #fff
}

#attOrderInfo .order-content {
    width: 100%
}

#attOrderInfo .order-content .att-info {
    border-bottom: 1px solid #f1f1f1
}

#attOrderInfo .order-content .att-info .att-name {
    margin: .2rem;
    font-family: PingFangSC-Regular;
    font-size: .32rem;
    color: #333
}

#attOrderInfo .order-content .att-info .att-tag-readme {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    margin: .2rem
}

#attOrderInfo .order-content .att-info .att-tag-readme .tag-left {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1
}

#attOrderInfo .order-content .att-info .att-tag-readme .tag-left .att-tags {
    width: .96rem;
    height: .36rem;
    background: rgba(99, 146, 254, .3);
    border: 1px solid #6392fe;
    border-radius: .1rem;
    font-family: PingFangSC-Regular;
    font-size: .2rem;
    color: #6392fe;
    text-align: center
}

#attOrderInfo .order-content .att-info .att-tag-readme .tag-right .att-readme {
    font-family: PingFangSC-Regular;
    font-size: .24rem;
    color: #6392fe;
    text-align: center
}

#attOrderInfo .order-content .att-date {
    width: 100%;
    height: 1.25rem;
    line-height: 1.25rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    border-bottom: 1px solid #f1f1f1
}

#attOrderInfo .order-content .att-date .date-title {
    margin: 0 .2rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    font-family: PingFangSC-Regular;
    font-size: .32rem;
    color: #4a4a4a
}

#attOrderInfo .order-content .att-date .date-str {
    margin: 0 .2rem;
    font-family: PingFangSC-Regular;
    font-size: .32rem;
    color: #9b9b9b;
    text-align: right
}

#attOrderInfo .order-content .att-date .date-str i {
    display: inline-block;
    width: .09rem;
    height: .18rem;
    background: url(../../images/bus/icon-right-black.png) 50% no-repeat;
    background-size: 100% 100%;
    margin-left: .1rem
}

 .person-panle {
    margin-top: .22rem;
    padding: 0 .22rem;
    background: #fff;
    box-shadow: 0 .02rem .02rem 0 rgba(0, 0, 0, .05)
}

.person-panle .content  {
    border-bottom: 1px solid #f1f1f1
}

 .person-panle .content .person-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: 1.25rem;
    line-height: 1.25rem;
    border-bottom: 1px solid #f1f1f1
}

 .person-panle .content .person-item .item-type {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    font-family: PingFangSC-Regular;
    font-size: .32rem;
    color: #333
}

.item-price {
    font-family: PingFangSC-Regular;
    font-size: .24rem;
    color: #fe6666;
    /*margin-left: 0.2rem;*/
}

.item-tips{
    color: #9b9b9b;
    font-size: 0.24rem;
}


 .person-panle .content .person-item .item-number {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    margin: auto
}

 .person-panle .content .person-item .item-number .reduce-number {
    width: .5rem;
    height: .5rem;
    background: url(../../images/bus/icon-reduce.png) no-repeat;
    background-size: 100%
}

 .person-panle .content .person-item .item-number .number-str {
    width: .5rem;
    height: .5rem;
    border-radius: .5rem;
    background: #6392fe;
    box-shadow: 0 .08rem .3rem 0 rgba(61, 59, 238, .3)
}

 .person-panle .content .person-item .item-number .number-val {
    font-family: PingFangSC-Regular;
    font-size: .38rem;
    color: #fff;
    text-align: center;
    margin-top: -.4rem
}

 .person-panle .content .person-item .item-number .add-number {
    width: .5rem;
    height: .5rem;
    background: url(../../images/bus/icon-add.png) no-repeat;
    background-size: 100%
}

 .person-panle .person-type .head {
    padding: .36rem 0 .37rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-bottom: 1px solid #e6e6e6
}

 .person-panle .person-type .head h4 {
    font-size: .32rem;
    line-height: .45rem;
    color: #333;
    font-weight: 400
}

 .person-panle .person-type .head .personPrice {
    margin-left: .2rem
}

 .person-panle .person-type .head .personPrice .priceSell {
    color: #fe6666
}

 .person-panle .person-type .head .handle-plus {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    text-align: right;
    -webkit-align-self: center;
    align-self: center
}

 .person-panle .person-type .item {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    padding: .22rem 0;
    border-bottom: 1px solid #f1f1f1
}

 .person-panle .person-type .item .handle-minus {
    margin: 0 .4rem 0 0;
    width: .5rem;
    height: .5rem;
    background: url(../../images/bus/icon-minus.png) no-repeat 50%;
    background-size: 100% 100%;
    white-space: nowrap;
    word-break: keep-all
}

 .person-panle .person-type .item .name {
    font-size: .32rem;
    line-height: .45rem;
    color: #333
}

 .person-panle .person-type .item .info {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    margin-left: .32rem
}

 .person-panle .person-type .item .info p {
    font-size: .32rem;
    line-height: .43rem;
    color: #333;
    margin-top: .06rem
}

 .person-panle .person-type .item .info p .label {
    margin-right: .22rem
}

 .person-panle .person-type .icon-person-plus {
    width: .5rem;
    height: .5rem;
    background: no-repeat 50%;
    background-size: 100% 100%;
    background-image: url(../../images/bus/icon-plus.png);
    display: inline-block
}

 .person-panle .title {
    font-family: PingFangSC-Regular;
    font-size: .24rem;
    color: #333
}

 .person-panle .title .prompt {
    font-family: PingFangSC-Regular;
    font-size: .2rem;
    color: #3f3f3f
}

 .person-panle .title .prompt .p-red {
    font-family: PingFangSC-Regular;
    font-size: .2rem;
    color: #fe6666
}

 .total-amount {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    text-align: right;
    font-family: PingFangSC-Regular;
    font-size: .38rem;
    height: .97rem;
    line-height: .97rem;
    background: #fff;
    box-shadow: 0 .02rem .02rem 0 rgba(0, 0, 0, .05);
    padding: 0 .22rem
}

 .total-amount .total-str {
    color: #333;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1
}

 .total-amount .total-val {
    color: #fe6666
}

 .icon-collect-plus {
    width: .5rem;
    height: .5rem;
    background: no-repeat 50%;
    background-size: 100% 100%;
    background-image: url(../../images/bus/icon-plus.png)
}

.collect-person-container {
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .05)
}

.collect-person-container .coll-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    margin-top: .2rem;
    height: .89rem;
    line-height: .89rem;
    border-bottom: 1px solid #f1f1f1
}

.collect-person-container .coll-header .coll-title {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    font-family: PingFangSC-Regular;
    font-size: .32rem;
    color: #4a4a4a;
    margin-left: .2rem
}

.collect-person-container .coll-header .coll-title span {
    font-family: PingFangSC-Regular;
    font-size: .24rem;
    color: #999
}

.collect-person-container .coll-body .coll-item {
    height: 1.25rem;
    line-height: 1.25rem;
    border-bottom: 1px solid #f1f1f1;
    font-family: PingFangSC-Regular;
    font-size: .32rem;
    color: #333;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
}

.collect-person-container .coll-body .coll-item .item-title {
    margin-left: .2rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1
}

.collect-person-container .coll-body .coll-item .icon-clean {
    width: .4rem;
    height: .4rem;
    background: url(../../images/bus/icon-clean.png) no-repeat;
    background-size: 100%;
    margin: auto .2rem
}

.collect-person-container .coll-body .coll-item input {
    font-family: PingFangSC-Regular;
    font-size: .32rem;
    color: #9b9b9b;
    text-align: right;
    border: 0;
    height: .8rem;
    width: 5rem
}

.head .item-title{
    /*flex: 1;*/
    font-family: PingFangSC-Regular;
    font-size: .32rem;
    color: #333;
}

#carryingChildren  .item-type em{
    font-size: .24rem;
    color: #3f3f3f
}

#swriperBox{
    height: 80%;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .05);
}

#swriperBox .swiper-container {
    /*width: 100%;*/
    height:100%;
}

.swiper-container .swiper-wrapper{
    /*background-color: #fff;*/
    /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .05);*/
    /*padding: 0 10px;*/
}

.swiper-container .swiper-wrapper .swiper-slide {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 10px 0;
    margin: 0 10px;
    color: #666;
    height: auto;
    width: auto;
    border-bottom: 1px solid #e6e6e6;
}

.swiper-container .swiper-wrapper .swiper-slide .name {
    -webkit-align-self: flex-start;
    align-self: flex-start;
    margin-right: 15px;
}

.swiper-container .swiper-wrapper .swiper-slide .info {
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    flex: 3;
    margin-right: 10px;
}

.swiper-container .swiper-wrapper .swiper-slide .info h4 {
    min-height: 24px;
    margin: 6px 0 8px;
    font-size: 16px;
    color: #333;
}

.swiper-container .swiper-wrapper .swiper-slide .info p {
    font-size: 16px;
    color: #333;
}

.swiper-container .swiper-wrapper .swiper-slide .handle {
    -webkit-align-self: center;
    align-self: center;
    margin-right: 5px;
}

.swiper-container .swiper-wrapper .swiper-slide .handle .icon-edit {
    display: inline-block;
    width: 19px;
    height: 20px;
    background: url(../../images/bus/icon-edit.png) no-repeat 50%;
    background-size: 100% 100%;
}