@charset "utf-8";

body {
	background: #F2F2F2;
}

.foot-btn {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 99;
	width: 1.7rem;
	height: 1.7rem;
	margin: 0 auto;
	background: url(../../images/bus/foot-btn-2.png) no-repeat 50%;
	background-size: 100% 100%
}

.search-form {
	position: relative;
	background-color: #fff;
	box-shadow: 0 .02rem .06rem 0 rgba(0,0,0,.1);
	border-radius: .03rem
}

.search-form .search-station {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center
}

.search-form .search-station .sui-list {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1
}

.search-form .search-station .sui-list .bottom-line {
	width: 6rem;
	border-bottom: 1px solid #f1f1f1;
	margin-left: 1.25rem
}

.search-form .search-station .sui-list li {
	padding: .362rem 0 .35rem;
	background: none
}

.search-form .search-station .sui-list li .control {
	padding-left: .98rem;
	position: relative
}

.search-form .search-station .sui-list li .control:before {
	content: "";
	display: block;
	width: .16rem;
	height: .16rem;
	position: absolute;
	left: .3rem;
	top: 0;
	bottom: 0;
	margin: auto 0;
	border-radius: 100%;
	border: .03rem solid #333
}

.search-form .search-station .sui-list li .control input {
	display: block;
	width: 100%;
	border: 0;
	color: #333;
	font-size: .28rem
}
/* Chrome/Opera/Safari */
.search-form .search-station .sui-list li .control input::-webkit-input-placeholder {
    color: #CCCCCC;
}
.search-form .search-station .sui-list li .control input::-moz-placeholder { /* Firefox 19+ */
    color: #CCCCCC;
}
.search-form .search-station .sui-list li .control input:-ms-input-placeholder { /* IE 10+ */
    color: #CCCCCC;
}
.search-form .search-station .sui-list li .control input:-moz-placeholder { /* Firefox 18- */
    color: #CCCCCC;
}


.search-form .search-station .sui-list li .control.start:before {
	border: .03rem solid #6392fe
}

.search-form .search-station .sui-list .v-line {
	height: .48rem;
	width: 2px;
	position: absolute;
	margin-top: .82rem;
	margin-left: .68rem;
	background: url(../../images/innerCity/v-line.png) no-repeat 50%;
	/* border-image: url(../../images/cityBus/icon-dashed.png) 25 25 round; */
	background-size: 100% 100%;
}

.search-form .sui-padding {
	padding: .36rem 0 .39rem
}

.hot-line-list header,.scheduling header {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	border-bottom: 1px solid #f2f2f2;
	height: 0.8rem;
}

.hot-line-list header .border-weight,.scheduling header .border-weight {
	border-left: .06rem solid #6392fe;
	height: .24rem;
	align-self: center;
}

.hot-line-list header .title,.scheduling header .title {
	font-family: PingFangSC-Regular;
	font-size: .28rem;
	color: #BBB;
	letter-spacing: 0;
	margin: .2rem;
	width: 90%
}

.hot-line-list header .nav-right,.scheduling header .nav-right {
	background: url(../../images/cityBus/index/icon_more.png) no-repeat 50%;
	background-size: 33% 100%;
	height: .24rem;
	width: .45rem;
	align-self: center;
	vertical-align: middle;
}

.scheduling {
	width: 7.1rem;
	height: 2.11rem;
	margin: .2rem auto;
	background: #fff;
	box-shadow: 0 0 .20rem 0 rgba(227,227,227,0.40);
	border-radius: .06rem
}

.scheduling .content {
	display: -webkit-inline-flex;
	display: inline-flex;
	margin-top: .12rem;
	width: 100%;
}

.scheduling .content .addr {
	font-size: .24rem;
	color: #666;
	font-family: PingFangSC-Regular;
	letter-spacing: 0;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 1.86rem
}

.scheduling .content .area {
	font-size: .2rem;
	color: #aaa
}

.scheduling .content .startAdrs {
	margin-left: .39rem
}

.scheduling .content .center-line {
	margin: 0 .6rem
}

.scheduling .content .center-line .time {
	font-family: PingFangSC-Regular;
	font-size: .18rem;
	color: #6392fe;
	letter-spacing: 0;
	text-align: center
}

.scheduling .content .center-line .line {
	width: 1.42rem;
	height: 0.08rem;
	background: url(../../images/cityBus/index/line.png) no-repeat 100%;
	background-size: 100% 100%;
}

.scheduling .rolling ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	margin-top: .25rem;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center
}

.scheduling .rolling ul li {
	width: .12rem;
	height: .12rem;
	margin: 0 .06rem;
	border-radius: 100%;
	background: #eee
}

.scheduling .rolling ul .active {
	background: #6392fe
}

.near-order {
	margin: .2rem auto;
	width: 7.1rem;
	max-height: 2.18rem;
	position: relative;
	background-color: #fff;
	border-radius: .06rem;
	box-shadow: 0 0 0.2rem 0 rgba(227,227,227,0.40);
}

.near-order .content {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: inline-flex;
	margin: .23rem .2rem;
	align-items: center;
}

.near-order .content .location {
	background: url(../../images/cityBus/index/location.png) no-repeat 50%;
	background-size: 100% 100%;
	width: .18rem;
	height: .18rem;
}

.near-order .content .addr {
	font-size: .24rem;
	color: #666;
	font-family: PingFangSC-Regular;
	letter-spacing: 0;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 1.88rem
}

.near-order .content .area {
	font-size: .2rem;
	color: #aaa
}

.near-order .content .startAdrs {
	margin-left: .2rem
}

.near-order .content .center-line {
	margin-left: .2rem;
	margin-right: .2rem
}

.near-order .content .center-line .arrow {
	background: url(../../images/cityBus/index/arrow_right.png) no-repeat 50%;
	background-size: 100% 100%;
	width: .45rem;
	height: .1rem;
}

.near-order .content .btn-list {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: inline-flex;
	margin-left: .1rem
}

.near-order .content .btn-list div {
	background: #fff;
	box-shadow: 0 0 .2rem 0 hsla(0,0%,89%,.4);
	border-radius: .06rem;
	font-family: PingFangSC-Regular;
	font-size: .2rem;
	color: #aaa;
	letter-spacing: 0;
	text-align: center;
	margin-left: .1rem;
	width: .7rem;
	line-height: .4rem;
}

.near-order .content .btn-list div:active {
	background: #6392fe;
	box-shadow: 0 0 .2rem 0 rgba(61,59,238,.3);
	color: #fff
}

.near-order .line {
	width: 90%;
	border-bottom: 1px solid #f2f2f2;
	float: right
}

.banner {
	margin: .2rem;
	width: 7.1rem;
	height: 1.5rem;
	position: relative;
	background: #fff;
	border-radius: .06rem;
	box-shadow: 0 0 20px 0 hsla(0,0%,89%,.4)
}

.banner img {
	display: block;
	width: 100%;
	height: 100%
}

.hot-line-list {
	margin: .2rem auto;
	width: 7.1rem;
	position: relative;
	background-color: #fff;
	border-radius: .06rem;
	box-shadow: 0 0 0.2rem 0 rgba(227,227,227,0.40);
}

.hot-line-list .line-list {
	width: 100%;
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: inline-flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	flex-direction: row;
	text-align: center
}

.hot-line-list .line-list div {
	width: 50%;
	padding: .2rem;
	position: relative;
	font-family: PingFangSC-Regular;
	font-size: .24rem;
	color: #666;
	letter-spacing: 0;
	text-align: center;
	border-bottom: 1px solid #f2f2f2;
	border-right: 0.01rem solid #f2f2f2;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	box-sizing: border-box;
}

.hot-line-list .line-list div i {
	display: block;
	width: .48rem;
	height: .22rem;
	background: url(../../images/cityBus/index/special_icon.png) no-repeat 100%;
	background-size: 100% 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.hot-line-list .line-list div span {
	font-size: .2rem;
	color: #EC5A6C;
	margin: 0 .033rem
}

.hot-line-list .line-list div .discount {
	color: #000;
	text-decoration: line-through
}

.search-bar {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9;
	width: 100%;
	background: #f2f2f2;
	box-shadow: 0 .2rem .2rem rgba(0,0,0,.1)
}

.search-bar .search-bar-inner {
	height: .8rem;
	padding-right: 1rem;
    background: #F2F2F2;
    box-shadow: 0 0 .20rem 0 rgba(0,0,0,0.10);
}

.search-bar .cancel {
	width: 1rem;
	height: .4rem;
	line-height: .4rem;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	margin: .2rem 0;
	color: #999;
	font-size: .28rem
}

.search-bar .tools-control {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	height: .8rem
}

.search-bar .tools-control .set-city {
	padding: 0 .1rem 0 .22rem;
	position: relative;
	line-height: .45rem;
	font-size: .28rem;
	color: #999;
	white-space: nowrap
}

.search-bar .tools-control .set-city:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	margin-left: .186rem;
	width: 0;
	height: 0;
	border-top: .14rem solid #999;
	border-left: .14rem solid transparent;
	border-right: .14rem solid transparent;
	border-radius: .05rem
}

.search-bar .tools-control .search-input {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	padding: 0 .24rem;
	margin-left: .2rem;
	height: .5rem;
	line-height: .5rem;
	background: #fff;
	box-shadow: inset 0 0 .04rem 0 rgba(0,0,0,0.20);
	border-radius: .25rem;
	position: relative
}

.search-bar .tools-control .search-input i {
	z-index: 5;
	position: absolute;
	top: .15rem;
	width: .24rem;
	height: .23rem;
	background: url(../../images/cityBus/index/search.png) no-repeat 100%;
	background-size: 100% 100%
}

.search-bar .tools-control .search-input input {
	width: 90%;
	height: 100%;
	border: 0;
	margin: 0;
	padding-left: .33rem;
	position: relative;
	z-index: 1;
	font-size: .28rem;
	color: #333;
	vertical-align: text-bottom;
}

.search-bar .tools-control .search-input input::-webkit-input-placeholder {
	color: #ccc
}

.search-bar .tools-control .search-input input::-moz-placeholder {
	color: #ccc
}

.search-bar .search-city {
	padding-left: .22rem;
	display: block;
	line-height: .88rem;
	color: #666;
	font-size: .28rem
}

#searchResult {
	touch-action: none;
	margin: 1.08rem .2rem .2rem;
	background: #fff;
	overflow: hidden;
	box-shadow: 0 0 .2rem 0 rgba(0,0,0,0.10)
}

#searchResult li {
	position: relative;
	padding-left: .44rem
}

#searchResult li h1 {
	font-size: .28rem;
	color: #333
}

#searchResult li h2 {
	font-size: .2rem;
	color: #ccc
}

#searchResult li:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto 0;
	width: .2rem;
	height: .264rem;
	background: url(../../images/cityBus/index/local_icon.png) no-repeat 50%;
	background-size: 100% 100%
}

#searchWrapper,#select-Citys {
	touch-action: none;
	margin-top: 1rem;
    background: #F2F2F2;
}

#searchWrapper .wrapper,#select-Citys .wrapper {
	width: 100%;
	margin-top: .88rem;
	overflow: hidden
}

#searchWrapper .wrapper .content,#select-Citys .wrapper .content {
	padding-bottom: .22rem
}

#searchWrapper .wrapper .sui-cell-map h1,#select-Citys .wrapper .sui-cell-map h1 {
	font-size: .32rem;
	line-height: .45rem;
	/*font-weight: 400*/
}

#searchWrapper .wrapper .sui-cell-map h2,#select-Citys .wrapper .sui-cell-map h2 {
	font-size: .24rem;
	line-height: .33rem;
	color: #999;
	/*font-weight: 400*/
}

#select-Citys .gather>div {
	padding: 0 .12rem;
	border-bottom: .01rem solid #f2f2f2;
	overflow: hidden;
	-webkit-transition: all .3s;
	transition: all .3s
}

#searchWrapper .gather .current-history{
	background: #fff;
	box-shadow: 0 0 0.2rem 0 rgba(0,0,0,0.05);
}

#searchWrapper .gather>div:last-child,#select-Citys .gather>div:last-child {
	border-bottom: 0 none
}

#select-Citys .gather h4.title,#select-Citys .gather h5.subtitle {
	margin-top: .22rem
}

#select-Citys .gather h4.title {
	/*font-weight: 700;*/
	font-size: .2rem;
	color: #999;
	line-height: .45rem
}

#searchWrapper .gather h5.subtitle,#select-Citys .gather h5.subtitle {
	font-size: .28rem;
	color: #333;
	line-height: .42rem;
	padding: 0.2rem;
	font-family: PingFangSC-Regular;
	letter-spacing: 0;
}

#select-Citys .gather .recommend .station-group {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	margin: .22rem 0 0
}

#searchWrapper .gather .station-group>* ,#select-Citys .gather .station-group>*{
	display: inline-block;
	vertical-align: middle;
	font-size: .28rem;
	color: #fff;
	padding: .05rem .2rem;
	margin: 0 0 .22rem .22rem;
	border-radius: .06rem;
	box-shadow: 0 0 .2rem 0 rgba(227,227,227,0.40);
	opacity: .6;
	background: #6392fe;
	height: 0.4rem;
}

#searchWrapper .gather .current .station-group span{
	height: 0.4rem;
	line-height: 0.4rem;
	display: inline-block;
	vertical-align: middle;
	font-size: .28rem;
	color: #fff;
	padding: .05rem .2rem;
	border-radius: .06rem;
	box-shadow: 0 0 .2rem 0 rgba(227,227,227,0.40);
	opacity: .6;
	background: #6392fe;
	margin: 0;
}

#searchWrapper .gather .current,#select-Citys .gather .current {
	background: #fff;
	height: 0.8rem;
	line-height: 0.8rem;
	border-bottom: 1px solid #f2f2f2;
	padding-left: 0.2rem;
}

#searchWrapper .gather .current .title{
	font-family: PingFangSC-Regular;
	color: #999999;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	font-size: .24rem
}


#select-Citys .gather .current h4.title {
	display: inline-block;
	margin: 0;
	vertical-align: middle;
	position: relative;
	font-size: .24rem
}

#searchWrapper .gather .current .station-group,#select-Citys .gather .current .station-group {
	display: inline-block
}

#searchWrapper .gather .current .station-group>*,#select-Citys .gather .current .station-group>* {
	opacity: 1;
	font-size: .24rem;
	background: #9fbcfc;
	padding: .04rem .2rem .03rem
}

#searchWrapper .gather .history .title{
	font-family: PingFangSC-Regular;
	font-size: 0.2rem;
	color: #999999;
}

#searchWrapper .gather .history,#select-Citys .gather .history {
	background: #fff;
	padding-top: 0.2rem;
	padding-bottom: .2rem;
	padding-left: 0.2rem;
}

#searchWrapper .gather .history .station-group-history .address,#select-Citys .gather .history .station-group-history .address {
	display: block;
	position: relative;
	margin-left: .65rem;
	padding: .1rem 0
}

#searchWrapper .gather .history .station-group-history .address .address-name,#select-Citys .gather .history .station-group-history .address .address-name {
	font-size: .28rem;
	color: #333;
	letter-spacing: 0
}

#searchWrapper .gather .history .station-group-history .address .address-detail,#select-Citys .gather .history .station-group-history .address .address-detail {
	font-size: .2rem;
	color: #ccc;
	letter-spacing: 0
}

#searchWrapper .gather .history .station-group-history .address:before,#select-Citys .gather .history .station-group-history .address:before {
	content: "";
	position: absolute;
	top: .38rem;
	left: -.4rem;
	bottom: 0;
	width: .16rem;
	height: .2429rem;
	background: url(../../images/cityBus/index/local_icon.png) no-repeat 50%;
	background-size: 100% 100%
}



#searchWrapper .gather .recommend,#select-Citys .gather .recommend {
	margin-top: .2rem;
	background: #fff;
	box-shadow: 0 -.2rem .2rem rgba(0,0,0,.05)
}

#searchWrapper .gather .recommend .title{
	font-family: PingFangSC-Regular;
	font-size: 0.2rem;
	color: #999999;
	border-bottom: 1px solid #f2f2f2;
	padding: 0.2rem;
}

#searchWrapper .nav-city,#select-Citys .nav-city {
	position: fixed;
	top: 3.4rem;
	right: 0;
	z-index: 66;
	margin: auto
}

#searchWrapper .nav-city a,#select-Citys .nav-city a {
	font-size: .2rem;
	color: #666;
	padding: 0.05rem .22rem;
}

#searchWrapper #cityWrapper ul.sui-list,#select-Citys #cityWrapper ul.sui-list {
	margin-right: 0
}

.pop-special {
	display: none;
	z-index: 99;
	position: fixed;
	left: 50%;
	top: 50%;
	width: 1rem;
	height: 1rem;
	opacity: .6;
	background: #000;
	box-shadow: 0 0 .2rem 0 hsla(0,0%,89%,.4);
	border-radius: .06rem;
	font-size: .56rem;
	color: #fff;
	letter-spacing: 0;
	text-align: center;
	line-height: 1rem;
	margin: -.5rem 0 0 -.5rem
}

#select-Citys .current-city {
	line-height: .81rem;
	font-size: .24rem;
	color: #999;
    padding-left: .2rem;
    margin-top: .2rem;
    background: #FFFFFF;
    box-shadow: 0 0 0.2rem 0 rgba(0,0,0,0.05);
}

#select-Citys .current-city span {
	background: #9fbcfc;
	box-shadow: 0 0 .2rem 0 hsla(0,0%,89%,.4);
	border-radius: .06rem;
	color: #fff;
	line-height: .4rem;
	letter-spacing: 0;
	padding: .04rem .2rem
}

#select-Citys .sui-list-title {
	background-color: #f0f1f5;
	font-size: .24rem;
	color: #999;
	padding: .1rem .2rem
}

#select-Citys .sui-list li {
	color: #666;
	font-size: .28rem;
	padding: .2rem
}
/* 暂无搜索结果 */
.searchResultNo .no-line-box {
    padding-top: 1.4rem
}

.searchResultNo .no-line-box .no-line {
    width: 3.22rem;
    height: 3.4rem;
    background: url(../../images/busCity/no-search-bg.png) 50% no-repeat;
    background-size: 100% 100%;
    margin: 0 auto
}

.searchResultNo .no-line-box .no-line-tips {
    font-size: .24rem;
    color: #999;
    letter-spacing: 0;
    text-align: center;
    margin: .4rem auto 0
}

.scheduling .swiper-container{
	height: 1.29rem;
    width: 100%;
	cursor:pointer;
}
.scheduling .swiper-container .swiper-pagination{
	bottom: 0;
	height: 0.4rem;
}

.scheduling .swiper-container  .swiper-pagination-bullet{
	width: 0.1rem;
	height: 0.1rem;
	border-radius: 50%;
	margin: 1.3rem 0.05rem;
    /*background: #eeeeee;*/
}

.vrt{
	margin-top: 0.2rem;
}

.scheduling .swiper-pagination-bullet-active{
	background: #6392FE;
}

.scheduling .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
	margin: 0.2rem 0.05rem;
}

footer{
	position: relative;
	bottom: 0;
	width: 100%;
}
.hot-line-list .line-list .icon-Special_price_icon {
    display: block;
    position: absolute;
	top: -13px;
	left: -3px;
    color: #EC5A6C;
    font-size: 24px;
}