@charset "utf-8";
.line-detail {
    position: relative;
    z-index: 199;
    background: #fff;
    box-shadow: 0 .04rem .04rem 0 rgba(0, 0, 0, .1);
}

.detail-bottom {
    height: 0.8rem;
    text-align: center;
    background: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,1));
    background: -o-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,1));
    background: -moz-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,1));
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
    margin-top: -0.8rem;
}

.line-detail .detail-head {
    padding: .21rem 0 0 .22rem;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.line-detail .detail-head, .line-detail .detail-head .detail-date {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    line-height: .45rem
}

.line-detail .detail-head .detail-date {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    text-align: left;
    font-size: .32rem;
    color: #333;
    font-weight: bold;
}

.line-detail .detail-head .detail-busNo {
    font-family: PingFangSC-Regular;
    font-size: .28rem;
    color: #ccc;
    letter-spacing: 0;
    margin-left: .2rem;
    font-weight: normal;
}

.line-detail .detail-head .detail-carNo {
    font-family: PingFangSC-Medium;
    font-size: .28rem;
    color: #333;
    letter-spacing: 0;
    text-align: right;
    margin-right: .2rem
}

.line-detail .detail-station-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    padding: .22rem
}

.line-detail .detail-station-info .station {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1
}

.line-detail .detail-station-info .other {
    margin-left: .22rem;
    text-align: right
}

.line-detail .detail-station-info .other .detail-station-distance {
    font-size: .28rem;
    color: #999;
    line-height: .4rem
}

.line-detail .detail-station-info .other .detail-station-distance .out {
    text-decoration: line-through;
    font-size: .24rem;
    color: #9b9b9b;
    line-height: .33rem;
    margin: -.15rem 0 -.12rem
}

.line-detail .detail-station-info .other .detail-station-distance .special-icon {
    display: inline-block;
    font-size: .2rem;
    line-height: .3rem;
    color: #fff;
    background: #EC5A6C;
    border-radius: .03rem;
    padding: 0 .05rem 0 .06rem
}

.line-detail .detail-station-info .other .detail-station-distance i {
    display: inline-block;
    font-size: .24rem;
    color: #EC5A6C;
}

.line-detail .detail-station-info .other .detail-station-distance b {
    display: inline-block;
    vertical-align: middle;
    font-weight: 400;
    font-size: .42rem;
    color: #EC5A6C;
    line-height: .59rem
}

.line-detail .detail-main-content {
    max-height: 5.9rem;
    overflow-y: scroll;
}

.line-detail .detail-main-content .detail-main {
    /*max-height: 5.9rem;*/
    overflow-y: scroll;
    padding-bottom: 0.8rem;
}

.line-detail .detail-main-content .detail-main .detail-station-list {
    position: relative;
    padding-left: .22rem
}

.line-detail .detail-main-content .detail-main .detail-station-list .before {
    display: block;
    position: absolute;
    top: .25rem;
    bottom: .25rem;
    background-color: #f1f1f1;
    border-left: 1px dashed #D3D2DB;
}

.line-detail .detail-main-content .detail-main .detail-station-list ul li {
    position: relative;
    padding-left: .3rem;
    height: 0.6rem;
    display: flex;
    align-items: center;
}

.line-detail .detail-main-content .detail-main .detail-station-list ul li:before {
    content: "";
    position: absolute;
    left: 0;
    z-index: 666;
    background: no-repeat 50%;
    background-size: 100% 100%;
}

.line-detail .detail-main-content .detail-main .detail-station-list ul li.arrive:after, .line-detail .detail-main-content .detail-main .detail-station-list ul li.leave:after {
    content: "";
    position: absolute;
    left: -34px;
    z-index: 667;
    margin: auto 0;
    width: 28px;
    height: 15px;
    background: url(../../images/busCity/icon_bus1.png) no-repeat 50%;
    background-size: 100% 100%
}

.line-detail .detail-main-content .detail-main .detail-station-list ul li.arrive:after {
    top: 0;
    bottom: 0
}

.line-detail .detail-main-content .detail-main .detail-station-list ul li.leave:after {
    bottom: -8px
}

.line-detail .detail-main-content .detail-main .detail-station-list ul li .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: baseline;
    align-items: baseline;
    padding-right: .22rem ;
    justify-content: space-between;
    width: 100%;
}

.line-detail .detail-main-content .detail-main .detail-station-list ul li .content h4 {
    font-size: .28rem;
    color: #333;
    text-align: left;
    font-family: Microsoft YaHei;
}

.line-detail .detail-main-content .detail-main .detail-station-list ul li .content span {
    font-family: PingFangSC-Regular;
    margin-left: .2rem;
    font-size: .2rem;
    color: #ccc;
    text-align: left;
    line-height: .4rem
}

.line-detail .detail-main-content .detail-main .detail-station-list ul li .content .item-type {
    font-size: .2rem;
    color: #ccc;
    position: relative;
    bottom: -.03rem;
    padding-left: .1rem
}

.line-detail .detail-main-content .detail-main .detail-station-list ul li .content .name{
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    /*width: 4.5rem;*/
    position: relative;
    font-size: 0;
}
.line-detail .detail-main-content .detail-main .detail-station-list ul li .content .name h4{
    font-weight:normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 4.8rem;
    line-height: normal;
    padding: 0.01rem .1rem 0.02rem;
}

.line-detail .detail-main-content .detail-main .detail-station-list ul.detail-station-start li:before {
    left: -0.04rem;
    width: .1rem;
    height: .1rem;
    background: #65D1A1;
    border-radius: 50%;
}

.line-detail .detail-main-content .detail-main .detail-station-list ul.detail-station-start li.active:before {
    left: -0.11rem;
    width: .22rem;
    height: .22rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(../../images/busCity/icon_up.png);
}
/*.line-detail .detail-main-content .detail-main .detail-station-list ul.detail-station-start li.scheduling-active:before {*/
    /*left: -0.11rem;*/
    /*width: .22rem;*/
    /*height: .22rem;*/
    /*background-size: 100% 100%;*/
    /*background-repeat: no-repeat;*/
    /*background-image: url(../../images/busCity/icon_up.png);*/
/*}*/
.line-detail .detail-main-content .detail-main .detail-station-list ul.detail-station-start li.active .content h4 {
    color: #333;
}

.line-detail .detail-main-content .detail-main .detail-station-list ul.detail-station-start li.colorfull .content h4 {
    font-size: .28rem;
    color: #FFF !important;
    background: #65D1A1;
    border-radius: 0.06rem;
    font-weight: bold;
}

.line-detail .detail-main-content .detail-main .detail-station-list ul.detail-station-start li.scheduling-colorfull .content h4{
    background: none;
    color: #65D1A1;
    font-weight: bold;
}

.line-detail .detail-main-content .detail-main .detail-station-list ul.detail-station-start li.sell-out:before {
    top: .32rem;
    left: .08rem;
    width: .24rem;
    height: .24rem;
    background-image: url(../../images/busCity/icon_sell_out.png)
}

.line-detail .detail-main-content .detail-main .detail-station-list ul.detail-station-start li.sell-out:first-child:before {
    background-image: url(../../images/busCity/icon_sell_out_first.png)
}

.line-detail .detail-main-content .detail-main .detail-station-list ul.detail-station-start li.sell-out .content h4 {
    font-size: .32rem;
    color: #999;
}

.line-detail .detail-main-content .detail-main .detail-station-list ul.detail-station-start li.sell-out .content span {
    font-size: .28rem;
    color: #999;
}

.line-detail .detail-main-content .detail-main .detail-station-list ul.detail-station-ending li:before {
    left: -0.04rem;
    width: .1rem;
    height: .1rem;
    background: #EC5A6C;
    border-radius: 50%;
}

.line-detail .detail-main-content .detail-main .detail-station-list ul.detail-station-ending li.active:before {
    left: -0.11rem;
    width: .22rem;
    height: .22rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(../../images/busCity/icon_down.png)
}
/*.line-detail .detail-main-content .detail-main .detail-station-list ul.detail-station-ending li.scheduling-active:before {*/
    /*left: -0.11rem;*/
    /*width: .22rem;*/
    /*height: .22rem;*/
    /*background-size: 100% 100%;*/
    /*background-repeat: no-repeat;*/
    /*background-image: url(../../images/busCity/icon_down.png)*/
/*}*/

.line-detail .detail-main-content .detail-main .detail-station-list ul.detail-station-ending li.colorfull .content .name:before{
    content: '';
    width:0;
    height: 0;
    border-width: 0.08rem;
    border-color: transparent #EC5A6C transparent transparent;
    border-style: solid;
    position: absolute;
    left: -0.15rem;
    top: 0;
    bottom: 0;
    margin: auto;
}
.line-detail .detail-main-content .detail-main .detail-station-list ul.detail-station-start li.colorfull .content .name:before{
    content: '';
    width: 0;
    height: 0;
    border-width: 0.08rem;
    border-color: transparent #65D1A1 transparent transparent;
    border-style: solid;
    position: absolute;
    left: -0.15rem;
    top: 0;
    bottom: 0;
    margin: auto;
}

.line-detail .detail-main-content .detail-main .detail-station-list ul.detail-station-ending li.active .content h4 {
    color:#333;
}

.line-detail .detail-main-content .detail-main .detail-station-list ul.detail-station-ending li.colorfull .content h4 {
    font-size: .28rem;
    background: #EC5A6C;
    color:#FFF;
    border-radius: 0.06rem;
    font-weight: bold;
}

.line-detail .detail-main-content .detail-main .detail-station-list ul.detail-station-ending li.scheduling-colorfull .content h4{
    background: none;
    color: #EC5A6C;
    font-weight: bold;
}

.map-panel{
    position: relative;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.map-panel .ola-maps {
    width: 100%;
    height: 100%;
    -webkit-transition: all .4s;
    transition: all .4s
}

.simple-content-body {
    width: 3.06rem
}

.simple-content-body .simple-window-panel {
    opacity: .9;
    background: #fff;
    box-shadow: 0 .02rem .04rem 0 rgba(0, 0, 0, .1);
    border-radius: .06rem;
    padding: .1rem .2rem
}

.simple-content-body .simple-window-panel .simple-window-title {
    ont-family: PingFangSC-Regular;
    font-size: .24rem;
    color: #666;
    letter-spacing: 0
}

.simple-content-body .simple-window-panel .simple-window-body {
    font-family: PingFangSC-Regular;
    font-size: .2rem;
    color: #aaa;
    letter-spacing: 0
}

.simple-content-body .simple-window-panel .simple-window-body .info-content {
    margin-top: .05rem;
    margin-bottom: .05rem
}

.simple-content-body .simple-window-panel .window-foot {
    border-top: 1px solid #ddd;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    padding-top: .1rem;
}

.simple-content-body .simple-window-panel .icon-view-img {
    width: .26rem;
    height:0.2rem;
    background: url(../../images/busCity/icon_viewImage.png) no-repeat;
    background-size: 100%;
    margin: .1rem
}

.simple-content-body .simple-window-panel .foot-txt {
    font-family: PingFangSC-Regular;
    font-size: .24rem;
    color: #f5a623;
    letter-spacing: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1
}

.simple-content-body .simple-window-panel .icon-see {
    width: .28rem;
    height: .2rem;
    background: url(../../images/busCity/icon_see.png) no-repeat;
    background-size: 100%;
    margin: .1rem
}

.simple-content-body .ifwn-combo-sharp {
    margin: -1px auto 0;
    background: url(http://webapi.amap.com/ui/1.0/ui/overlay/SimpleInfoWindow/assets/sharp.png) no-repeat -5px -16px;
    width: 18px;
    height: 9px;
    opacity: .9
}

#stationImage {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    opacity: .6;
    background: rgba(0, 0, 0, .8);
    -webkit-transition: all .4s;
    transition: all .4s
}

#stationImage .img-content {
    width: 6.7rem;
    height: 6.7rem;
    margin: 1.2rem auto 0
}

#stationImage img {
    width: 100%;
    height: 100%;
    border-radius: .1rem
}

#stationImage .close-img {
    width: 1.2rem;
    height: 1.2rem;
    background: url(../../images/busCity/icon_img_close.png) no-repeat;
    background-size: 100%;
    margin: .5rem auto
}

.foot-panel {
    position: fixed;
    left: 0;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    text-align: center;
    margin: 0 .2rem;
    padding: .2rem 0;
    z-index: 888;
}

.foot-panel .back {
    background: #fff;
    box-shadow: 0 0 .2rem 0 hsla(0, 0%, 89%, .4);
    width: 1.44rem;
    font-size: .32rem;
    color: #aaa
}

.foot-panel .back {
    border-radius: .06rem;
    height: .75rem;
    line-height: .75rem;
    font-family: PingFangSC-Regular;
    letter-spacing: 0;
    text-align: center
}

.mark-box{
    width: .28rem;
    height: .28rem;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #6392fe;
}

.circle-mark {
    width: .18rem;
    height: .18rem;
    position: absolute;    
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: #6392fe;
    border-radius: 50%;
    border: 1px solid #fff
}

.line-detail .detail-head .detail-price {
    margin-right: .2rem
}

.line-detail .detail-head .detail-price .special-price {
    font-family: PingFangSC-Regular;
    font-size: .2rem;
    color: #ccc;
    letter-spacing: 0;
    text-align: right
}

.line-detail .detail-head .detail-price .sell-price {
    font-family: PingFangSC-Medium;
    font-size: .28rem;
    color: #EC5A6C;
    letter-spacing: 0;
    font-weight: bold;
}

.buy-ticket{
    position: fixed;
    bottom: 0.2rem;
    background: #6392FE;
    box-shadow: 0 0 0.2rem 0 rgba(61,59,238,0.31);
    border-radius: 0.06rem;
    font-size: 0.28rem;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    height: 0.75rem;
    line-height: 0.75rem;
    left: 0;
    right: 0;
    width: 3.45rem;
    margin: 0 auto;
    z-index: 999;
}

.line-detail-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 199;
}

.line-detail-container .detail-toggle {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    color: #6392fe;
    font-size: 0.2rem;
    margin: auto auto;
    left: 0;
    right: 0;
    width: 1.8rem;
    background: #fff;
    box-shadow: 0 0 .2rem 0 rgba(0, 0, 0, .1);
    border-radius: 0 0 .06rem .06rem;
    padding: 0.04rem 0;
}

.line-detail-container .detail-toggle:after {
    content: " ";
    display: inline-block;
    width: 0.12rem;
    height: 0.06rem;
    background: url("../../images/busCity/icon-toggle.png") center no-repeat;
    background-size: 100% 100%;
    margin-left: 0.09rem;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.line-detail-container .detail-toggle-o{
    width: 0.8rem;
    height: 0.3rem;
    padding: 0;
}
.line-detail-container .detail-toggle-o:after {
    content: " ";
    display: inline-block;
    width: 0.18rem;
    height: 0.08rem;
    background: url("../../images/busCity/icon-toggle-n.png") center no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.line-detail-container .turn:after {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
}
