@charset "utf-8";

body {
	padding-bottom: .75rem;
	background: #F2F2F2;
}

.pab-10 {
	padding-bottom: 10px!important
}

.ticket-info {
	padding: .3rem .22rem 0;
	background-color: #fff;
	box-shadow: 0 .02rem .04rem 0 rgba(0,0,0,.05)
}

.ticket-info .time {
	font-size: .32rem;
	line-height: .45rem;
	color: #333;
	font-weight: bold;
}

.ticket-info .time span {
	margin-left: .2rem;
	color: #ccc;
	font-size: 0.28rem;
	font-weight: normal;
}

.ticket-info .special-price {
    position: relative;
    top: -.4rem;
    right: 0;
    font-size: .28rem;
    color: #EC5A6C;
    letter-spacing: 0;
    text-align: right
}

.ticket-info .ticket-other-info {
    margin-top: -.4rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    font-size: .2rem;
    color: #999;
    letter-spacing: 0;
    padding-bottom: .2rem;
}

.ticket-info .ticket-other-info div {
    width: 50%
}

.ticket-info .ticket-other-info .old-price {
    text-align: right
}

.ticket-info .time .distribution {
	font-size: .28rem;
	color: #CCCCCC;
	letter-spacing: 0;
}

.ticket-info .station {
	position: relative;
	margin: .29rem .22rem 0 .38rem
}


.ticket-info .station .txt {
	max-width: 5rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ticket-info .station .end,.ticket-info .station .start {
	position: relative;
	font-size: .28rem;
	color: #333
}

.ticket-info .station .end:before,.ticket-info .station .start:before {
	content: "";
	position: absolute;
	top: .1rem;
	bottom: 0;
	left: -.38rem;
	width: .22rem;
	height: .22rem;
	border-radius: 100%
}

.ticket-info .station .start:before {
	/*background: url(../../images/cityBus/icon-on.png) no-repeat 50%;*/
	background: url(../../images/busCity/icon_up.png) no-repeat 50%;
    background-size: 100% 100%
}

.ticket-info .station .start:after {
	content: "";
	position: absolute;
	top: .36rem;
    left: -.29rem;
	bottom: -.2rem;
	z-index: 6;
	width: 0;
	height: auto;
	border: 1px dashed #ccc
}

.ticket-info .station .end:before {
	/*background: url(../../images/cityBus/icon-off.png) no-repeat 50%;*/
	background: url(../../images/busCity/icon_down.png) no-repeat 50%;
    background-size: 100% 100%
}

.ticket-info .station .end {
	margin-top: .13rem;
	padding-bottom: .05rem
}

.ticket-info .ticket-rule {
	line-height: .66rem;
	height: .66rem;
	text-align: center;
	font-size: .28rem;
	color: #999
}

.passenger {
	margin-top: .22rem;
	padding: 0 .22rem;
	background: #fff;
	/*box-shadow: 0 .02rem .02rem 0 rgba(0,0,0,.05)*/
}

.passenger .head {
	padding: .36rem 0 .37rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	background: #FFF;
}

.passenger .head h4 {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	font-size: .32rem;
	line-height: .45rem;
	color: #333;
	font-weight: 400
}

.passenger .head h4 span {
	color: #3F3F3F;
}

.passenger .head .handle-plus {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	text-align: right;
	-webkit-align-self: center;
	align-self: center
}

.passenger .head .handle-plus>* {
	display: inline-block;
	vertical-align: middle
}

.passenger .head .handle-plus i.icon-minus {
	background-image: url(../../images/bus/icon_less.png)
}

.passenger .head .handle-plus .txt {
	margin: 0 .22rem;
	font-size: .38rem;
	color: #333
}

.passenger .content .item {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	position: relative;
	padding: .22rem 0;
	border-bottom: 1px solid #f1f1f1;
	margin-left: .2rem;
}

.passenger .content .item:last-child {
	border-bottom: 0 none
}

.passenger .content .item .handle-minus {
	width: .5rem;
	height: .5rem;
	background: url(../../images/cityBus/icon-minus.png) no-repeat 50%;
	background-size: 100% 100%;
	white-space: nowrap;
	word-break: keep-all
}

.passenger .content .item .name {
	font-size: .32rem;
	line-height: .45rem;
	color: #333
}

.passenger .content .item .info {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	margin-left: .32rem
}

.passenger .content .item .info p {
	font-size: .24rem;
	line-height: .45rem;
	color: #3f3f3f;
	margin-top: .06rem
}

.passenger .content .item .info p:first-child {
	margin-top: 0
}

.passenger .content .item .info p .label {
	margin-right: .22rem
}

.passenger .content .item .info p .passenger-name {
	font-size: .32rem;
	color: #333;
}

.frm-radio {
	width: .5rem;
	height: .5rem;
	border: 0;
	-webkit-appearance: none;
	appearance: none;
	outline: 0;
	margin-right: 2px;
	vertical-align: middle;
	background: 0 0;
	position: relative
}

.frm-radio:before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-image: url(../../images/bus/icon_radio_bar.png);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: 100% 100%
}

.frm-radio:checked:before {
	/*background: #6392FE;*/
	/*box-shadow: 0 0 0.01rem 0;*/
	/*border-radius: 100%;*/
	background-image: url(../../images/bus/icon_radio_bar_select.png)
}

.frm-checkbox {
	width: 36px;
	height: 36px;
	border: 0;
	-webkit-appearance: none;
	appearance: none;
	outline: 0;
	margin-right: 2px;
	vertical-align: middle;
	background: 0 0;
	position: relative
}

.frm-checkbox:before {
	content: "";
	display: block;
	width: 36px;
	height: 36px;
	position: absolute;
	left: 0;
	top: 0;
	background-image: url(../../images/bus/icon_checkbox_bar.png);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: 100% 100%
}

.frm-checkbox:checked:before {
	background-image: url(../../images/bus/icon_checkbox_bar_select.png)
}

.payment-way {
	margin-top: .22rem;
	box-shadow: 0 .02rem .02rem 0 rgba(0,0,0,.05)
}

.payment-way li {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	line-height: .5rem;
	padding: .37rem .22rem .38rem 0;
	margin-left: .25rem
}

.payment-way li:active {
	background-color: #e5e6e7;
	margin-left: .25rem;
	padding-left: 0
}

.payment-way li .icon {
	position: relative;
	padding-left: .69rem;
	background-repeat: no-repeat;
	background-position: 0;
	background-size: .5rem .5rem;
	color: #333;
	font-size: .32rem
}

.payment-way li .icon em {
	font-size: .24rem;
	color: #999
}

.payment-way li .icon-1 {
	background-image: url(../../images/bus/icon_pay_wechat.png)
}

.payment-way li .icon-2 {
	background-image: url(../../images/bus/icon_boarding_immediately.png)
}

.coupon-btn {
	box-shadow: 0 .02rem .02rem 0 rgba(0,0,0,.05)
}

.coupon-btn li {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	line-height: .59rem;
	padding: .33rem .22rem .33rem 0;
	margin-left: .22rem;
	background: none;
	border-bottom: .01rem solid hsla(0,0%,95%,.95)
}

.coupon-btn li:active {
	padding-left: 0;
	margin-left: .22rem
}

.coupon-btn li:last-child {
	border-bottom: 0 none
}
.coupon-btn .passengers{
	padding: 0.33rem 0;
}

.paddingNo{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.coupon-btn .name {
	font-size: .32rem;
	color: #333;
	white-space: nowrap;
	word-break: keep-all;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-align-self: flex-start;
	align-self: flex-start
}

.coupon-btn .name .special-tips {
	font-size: .2rem;
	color: #fff;
	background: #EC5A6C;
	border-radius: .03rem;
	line-height: .28rem;
	padding: .01rem .06rem;
	margin-left: .22rem
}

.coupon-btn .name .frm-radio {
	margin-right: .22rem
}

.coupon-btn .name .tips {
	font-size: .24rem;
	color: #999;
	line-height: .45rem
}

.coupon-btn .value {
	margin-left: .22rem;
	font-size: .42rem;
	color: #333;
	max-width: 70%;
	text-align: right;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}

.coupon-btn .value.passenger-date {
	overflow: auto;
	text-overflow: inherit;
	white-space: inherit
}

.coupon-btn .value.passenger-date span {
	display: inline-block;
	margin-right: 5px
}

.coupon-btn .passenger-list .name h4 {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	font-size: .32rem;
	color: #333;
	font-weight: 400
}

.coupon-btn .passenger-list .name h4 span {
	color: #9b9b9b
}

.coupon-btn .passenger-list .value .handle-plus {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	text-align: right;
	-webkit-align-self: center;
	align-self: center
}

.coupon-btn .passenger-list .value .handle-plus>* {
	display: inline-block;
	vertical-align: middle
}

.coupon-btn .passenger-list .value .handle-plus i {
	width: .5rem;
	height: .5rem;
	background: no-repeat 50%;
	background-size: 100% 100%
}

.coupon-btn .passenger-list .value .handle-plus i.icon-minus {
	background-image: url(../../images/cityBus/icon_less.png)
}

.coupon-btn .passenger-list .value .handle-plus i.icon-minus.out {
	background-image: url(../../images/cityBus/icon_less.png)
}

.coupon-btn .passenger-list .value .handle-plus i.icon-plus {
	background-image: url(../../images/cityBus/icon-plus.png)
}

.coupon-btn .passenger-list .value .handle-plus i.icon-plus.out {
	background-image: url(../../images/cityBus/icon-plus.png)
}

.coupon-btn .passenger-list .value .handle-plus .txt {
	width: .5rem;
    height: .5rem;
    margin: 0.3rem .1rem;
    font-size: .38rem;
    color: #fff;
    text-align: center;
    line-height: .5rem;
    background: #6392fe;
    border-radius: 100%;
    box-shadow: 0 .08rem .3rem 0 rgba(61,59,238,.3)
}

.buy-tips {
    font-size: .2rem;
    color: #EC5A6C;
    margin-left: .2rem;
    margin-top: -.4rem;
    padding-bottom: .2rem;
	/*border-bottom: 1px solid #F2F2F2;*/
}
.buy-tipss {
    margin-left: 0;
}

.buy-tips .old-count {
    color: #333;
	font-size: 0.2rem;
	padding-right: 0.2rem;
}
.buy-tips .new-count {
	font-size: 0.2rem;
}

.coupon-btn .insurance-row .name {
	display: block
}

.coupon-btn .insurance-row .name p {
	font-size: .24rem;
	color: #f27d4a;
	line-height: .33rem;
	text-align: center
}

.coupon-btn .insurance-row .insurance {
	position: relative;
	display: inline-block;
	padding: .06rem 1rem .06rem .7rem;
	border-radius: 1rem
}

.coupon-btn .insurance-row .insurance:before {
	content: "";
	position: absolute;
	top: .2rem;
	left: .113rem;
	width: .5rem;
	height: .5rem;
	background: url(../../images/bus/insurance_icon.png) no-repeat 50%;
	background-size: 100% 100%
}

.coupon-btn .insurance-row .insurance.on {
	background: #6392fe
}

.coupon-btn .insurance-row .insurance.off {
	background: #ccc
}

.coupon-btn .insurance-row .insurance .txt {
	color: #fff
}

.coupon-btn .insurance-row .insurance .txt h4 {
	line-height: .45rem;
	font-size: .32rem;
	font-weight: 400
}

.coupon-btn .insurance-row .insurance .txt p {
	line-height: .33rem;
	font-size: .24rem
}

.coupon-btn .insurance-row .insurance .count {
	position: absolute;
	right: .15rem;
	top: 0;
	bottom: 0;
	margin: auto 0;
	color: #fff;
	font-size: .24rem;
	height: .33rem;
	line-height: .33rem
}

.coupon-btn .insurance-row .insurance .count i {
	font-size: .2rem;
	margin-right: .09rem;
	vertical-align: bottom
}

.coupon-btn .insurance-passenger {
	position: relative;
	display: block;
	padding-top: .22rem;
	padding-bottom: 0;
	margin-top: -.01rem;
	background-color: #fff
}

.coupon-btn .insurance-passenger:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: .22rem;
	background: url(../../images/bus/line.png) no-repeat 50%;
	background-size: auto 100%
}

.coupon-btn .insurance-passenger .passenger {
	margin-top: 0;
	padding: 0;
	box-shadow: none
}

.coupon-btn .insurance-passenger .passenger .head {
	display: block;
	padding: .16rem 0 .39rem;
	margin: 0 .42rem;
	border-bottom: .01rem solid hsla(0,0%,95%,.95);
	text-align: center;
}

.coupon-btn .insurance-passenger .passenger .head>* {
	display: inline-block;
	vertical-align: middle
}

.coupon-btn .insurance-passenger .passenger .head h4 {
	margin: .09rem .4rem 0 0
}
.coupon-btn .insurance-passenger .passenger .content{
	padding-bottom: 0.04rem;
}
.coupon-btn .insurance-passenger .passenger .content .item {
	border-bottom: .01rem solid hsla(0,0%,95%,.95)
}

.coupon-btn .insurance-passenger .passenger .content .item:last-child {
	border-bottom: 0 none
}

.coupon-btn .insurance-passenger .passenger .content .item .name {
	-webkit-align-self: center;
	align-self: center
}

.coupon-btn .text-red {
	color: #EC5A6C;
}

.coupon-btn .text-gray {
	font-size: .32rem;
	color: #9b9b9b
}

#insuranceExplain {
	display: none;
	z-index: 999
}

#insuranceExplain,#insuranceExplain .mask {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

#insuranceExplain .mask {
	background-color: rgba(0,0,0,.6)
}

#insuranceExplain .explain {
	position: absolute;
	top: .5rem;
	bottom: 1.66rem;
	left: .35rem;
	right: .35rem;
	background-color: #fff;
	border-radius: .2rem;
	padding-bottom: 1rem;
	overflow: hidden
}

#insuranceExplain .explain h4 {
	font-size: .38rem;
	color: #333;
	text-align: center;
	line-height: .53rem;
	padding: .14rem 0 .11rem;
	border-bottom: .01rem solid #eaeaea
}

#insuranceExplain .explain .content {
	margin: .645rem .34rem;
	font-size: .34rem;
	color: #333;
	max-height: 80%;
	overflow-y: auto
}

#insuranceExplain .explain .btn {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 0
}

.sui-popup-container .fafafa {
	background-color: #fafafa
}

#couponList #listWrapper {
	width: 100%;
	overflow: hidden
}

#couponList .footer-fixed .btn-bar {
	padding-bottom: 10px
}

.listWrapper {
	overflow: auto
}

.rule-btn {
	text-align: right;
	padding: 15px 11px 8px;
	color: #999
}

.rule-btn span {
	padding-left: 18px;
	background: url(../../images/bus/icon_question_mark.png) 0 no-repeat;
	background-size: 13px 13px
}

.rule-btn span:active {
	color: #000
}

.popup-list .item {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	padding: 0 10px;
	margin-top: 10px
}

.popup-list .item:first-child {
	margin-top: 0
}

.popup-list .item .left {
	position: relative;
	padding: 10px 25px 10px 20px;
	-webkit-box-flex: 5;
	-webkit-flex: 5;
	flex: 5;
	background-color: #fff;
	box-shadow: 0 2px 2px rgba(0,0,0,.08);
	border-radius: 5px;
	overflow: hidden
}

.popup-list .item .left:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	border: 2px solid #ccc
}

.popup-list .item .left .main h4 {
	font-size: 19px;
	font-weight: 400;
	color: #6392fe
}

.popup-list .item .left .main p {
	font-size: 14px;
	color: #6392fe
}

.popup-list .item .left .info {
	position: relative;
	margin-top: 8px;
	font-size: 14px;
	color: #999
}

.popup-list .item .left .info span {
	position: absolute;
	bottom: 0;
	right: 10px;
	font-size: 14px;
	color: #333;
	line-height: 1.4
}

.popup-list .item .right {
	-webkit-box-flex: 3;
	-webkit-flex: 3;
	flex: 3;
	padding: 10px 8px;
	background-color: #fff;
	box-shadow: 0 2px 2px rgba(0,0,0,.08);
	border-left: 1px dashed #e7e7e7;
	border-radius: 5px;
	overflow: hidden
}

.popup-list .item .right .main {
	padding-top: 15px;
	font-size: 28px;
	color: #EC5A6C;
	text-align: center
}

.popup-list .item .right .main i {
	margin: 0 3px;
	font-size: 16px;
	color: #EC5A6C;
	vertical-align: middle
}

.popup-list .item .right .info {
	font-size: 14px;
	color: #999;
	text-align: center
}

.popup-list .item.blue .left:before {
	border-color: #6492fc
}

.popup-list .item.orange .left:before {
	border-color: #f17c4a
}

.popup-list .item.green .left:before {
	border-color: #21cd61
}

#insuranceList .insurance-list {
	padding-top: 10px
}

#insuranceList .insurance-list .left {
	padding: 0 15px
}

#insuranceList .insurance-list .left .head {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	padding: 9px 0;
	border-bottom: 1px solid #f1f1f1
}

#insuranceList .insurance-list .left .head .content {
	-webkit-box-flex: 4;
	-webkit-flex: 4;
	flex: 4
}

#insuranceList .insurance-list .left .head .content h4 {
	font-size: 19px;
	color: #333
}

#insuranceList .insurance-list .left .head .content p {
	font-size: 14px;
	color: #999
}

#insuranceList .insurance-list .left .head .price {
	font-size: 16px;
	color: #333
}

#insuranceList .insurance-list .left .head .price span {
	display: inline-block;
	margin: -1px 5px 0 0;
	vertical-align: middle;
	font-size: 20px;
	color: #EC5A6C;
}

#insuranceList .insurance-list .left .state {
	text-align: center;
	font-size: 14px;
	color: #999;
	padding: 6px 0
}

#insuranceList .insurance-list .left .state:before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../../images/bus/icon-state.png) no-repeat 50%;
	background-size: 100% 100%;
	margin-right: 6px;
	vertical-align: sub
}

.btn-bar,.btn-group {
	background-color: #fafafa
}

.btn-bar {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	padding: 18px 15px 50px
}

.btn-bar .btn-contain .btnPay {
	height: 0.88rem;
	color: #fff;
	text-align: center;
	line-height: 0.88rem;
}

.not-data {
	margin-top: 30%;
	padding-top: 180px;
	background: top no-repeat;
	background-size: 138px auto;
	text-align: center;
	color: #999
}

.sui-dialog-ft button:first-child {
	color: #666
}

.ticket-tips {
	background: #EC5A6C;
	height: .7rem;
	line-height: .7rem;
	text-align: center;
	padding: 0 .22rem;
	font-size: .28rem;
	color: #fff
}

/*.commit-bar{margin-top:.22rem;display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-align:start;-webkit-align-items:flex-start;align-items:flex-start;-webkit-box-pack:justify;-webkit-justify-content:space-between;justify-content:space-between;padding:.22rem;background:#fff;box-shadow:0 .02rem .06rem 0 rgba(0,0,0,.1);border-radius:.03rem}.commit-bar h4{font-weight:400;font-size:.32rem;color:#333;margin-right:.22rem}.commit-bar .commit{-webkit-box-flex:1;-webkit-flex:1;flex:1;padding:.13rem;background:#f3f4f5;border-radius:.03rem}.commit-bar .commit textarea{width:100%;min-height:1rem;border:0 none;background:transparent;line-height:.33rem;font-size:.28rem;color:#333}.commit-bar .commit .message-length{text-align:right;line-height:.37rem;font-size:.26rem;color:#999}*/

.btn-bar .btn-contain {
	position: relative;
	width: 100%;
	height: 0.88rem;
	font-size: 0.32rem;
	color: #fff;
	background: #6392fe;
	border-radius: 1rem;
}

.btn-bar .btn-contain .btn-popup {
	width: 50%;
	display: inline-flex
}

.btn-bar .btn-contain .open {
	background: url("../../images/bus/icon_down.png") no-repeat 50%;
	color: #fff;
	background-size: 100% 100%;
	width: 0.5rem;
	height: 0.5rem;
	margin-top: 0.2rem;
}

.btn-bar .btn-contain .close {
	background: url("../../images/bus/icon_up.png") no-repeat;
	color: #fff;
	background-size: 100% 100%;
	width: 0.5rem;
	height: 0.5rem;
	margin-top: 0.2rem;
}

.btn-popup span {
	margin-left: 0.15rem;
	line-height: 0.88rem;
}

.insurance-container {
	background: #fff;
	overflow: hidden;
	box-shadow: 0 .02rem .06rem 0 rgba(0,0,0,.1);
	border-radius: .03rem;
	margin: .22rem 0 0;
	padding: .22rem .19rem .44rem
}

.insurance-container .insurance-title {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex
}

.insurance-container .insurance-title .title {
	font-size: .32rem;
	color: #333;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1
}

.insurance-container .insurance-title .title span {
	font-size: .24rem;
	color: #2a2a2a;
	font-weight: 400
}

.insurance-container .insurance-title .amount {
	font-size: .42rem;
	color: #EC5A6C;
}

.insurance-container #wrapper {
	position: relative;
	margin: .1rem
}

.insurance-container #wrapper .content {
	font-size: 0;
}

.insurance-container #wrapper .content  .insurance-item {
	/*width: 2.3rem;*/
	border: .02rem solid #eee;
	border-radius: .1rem;
	padding: .05rem 0;
	text-align: center;
	/*margin-left: .23rem*/
}

.insurance-container #wrapper .content  .insurance-item:first-child {
	margin-left: 0
}

.insurance-container #wrapper .content  .insurance-item .desc {
	font-size: .32rem;
	color: #999
}

.insurance-container #wrapper .content  .insurance-item .amount {
	font-size: .24rem;
	color: #ccc
}

.insurance-container #wrapper .content  .insurance-item .detail-btn {
	font-size: .24rem;
	color: #6392fe;
	border-top: 1px dashed #eee;
	margin: .05rem .1rem 0;
	padding: .05rem 0 0;
	position: relative
}

.insurance-container #wrapper .content  .insurance-item .detail-btn:after {
	content: "";
	display: block;
	width: .69rem;
	height: .4rem;
	background: url(../../images/bus/icon-unchoose.png) 50% no-repeat;
	background-size: 100% 100%;
	position: absolute;
	right: -.1rem;
	bottom: -.05rem
}

.insurance-container #wrapper .content  .active {
	border: .02rem solid #6392fe
}

.insurance-container #wrapper .content  .active .amount,.insurance-container #wrapper .content .active .desc {
	color: #6392fe
}

.insurance-container #wrapper .content  .active .amount .unit-price {
	color: #EC5A6C;
}

.insurance-container #wrapper .content  .active .detail-btn {
	border-top: 1px dashed #6392fe
}

.insurance-container #wrapper .content  .active .detail-btn:after {
	content: "";
	display: block;
	width: .69rem;
	height: .4rem;
	background: url(../../images/bus/icon-choose.png) 50% no-repeat;
	background-size: 100% 100%;
	position: absolute;
	right: -.1rem;
	bottom: -.05rem
}

.comment-container {
	margin-top: 0.22rem;
	background: #fff;
	box-shadow: 0 .02rem .02rem 0 rgba(0,0,0,.05);
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	padding: .41rem .22rem;
	font-size: .32rem
}

.comment-container .comment {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	color: #4a4a4a
}

.comment-container .comment-text {
	color: #9b9b9b;
	padding-right: .33rem;
	position: relative
}

.comment-container .comment-text:after {
	content: "";
	display: block;
	width: .12rem;
	height: .24rem;
	background: url(../../images/bus/icon_more.png) 50% no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	right: 0
}

#popupCommentInfo {
	font-size: 0
}

#popupCommentInfo .close {
	display: inline-block
}

#popupCommentInfo .close img {
	display: block;
	width: .14rem;
	height: .24rem;
	padding: .55rem .34rem .51rem
}

#popupCommentInfo .commit {
	background: #f3f4f5;
	margin: 0 .22rem .22rem;
	padding: .22rem .22rem 0;
	border-radius: .04rem
}

#popupCommentInfo .commit label {
	display: block;
	background: transparent
}

#popupCommentInfo .commit label textarea {
	display: block;
	width: 100%;
	height: 3.16rem;
	min-height: 3.16rem;
	border: none;
	background: transparent;
	font-size: .32rem;
	color: #333
}

#popupCommentInfo .commit label textarea::-webkit-input-placeholder {
	color: #999
}

#popupCommentInfo .commit label textarea::placeholder {
	color: #999
}

#popupCommentInfo .commit .message-length {
	background: #f3f4f5;
	text-align: right;
	font-size: .26rem;
	color: #999
}

.popup-container {
	position: fixed;
	z-index: 200;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.6)
}

.popup-container .content {
	margin: 1.2rem .2rem 0
}

.popup-container .content .main-content {
	background: #fff;
	border-radius: .06rem;
	padding-bottom: 1.4rem
}

.popup-container .content .main-content .title {
	font-size: .32rem;
	color: #333;
	text-align: center;
	padding: .16rem 0
}

.popup-container .content .main-content .main {
	margin: .39rem .35rem 0;
	min-height: 4.8rem;
	max-height: 4.8rem;
	overflow-y: scroll
}

.popup-container .content .close {
	width: .7rem;
	height: .7rem;
	margin: .81rem auto 0;
	background: url(../../images/bus/btn-close.png) 50% no-repeat;
	background-size: 100% 100%
}

.btn-group .btn {
	background: #6392fe;
	font-size: .38rem;
	color: #fff;
	height: 1rem;
    line-height: 1rem;
    align-self: center;
    vertical-align: middle;
}

.pay-detail-modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: hsla(0, 0%, 40%, .3)
}

.pay-detail-modal ul {
	position: absolute;
	bottom: 1.5rem;
	left: .35rem;
	right: .35rem;
	background: #fff;
	box-shadow: 0 .01rem .02rem 0 hsla(0, 0%, 100%, .2), 0 0 .1rem 0 rgba(0, 0, 0, .1);
	border-radius: .2rem;
	overflow: hidden
}

.pay-detail-modal .title {
	font-family: PingFangSC-Regular;
	font-size: 0.32rem;
	color: #999999;
	text-align: center;
}

.pay-detail-modal ul li {
	position: relative;
    /*display: flex;*/
	height: .94rem;
	line-height: .94rem;
	padding: 0 .1rem;
	overflow: hidden;
	font-family: PingFangSC-Regular;
	font-size: 0.32rem;
	color: #333333;
}

.pay-detail-modal ul li .pay-price {
	font-family: PingFangSC-Regular;
	color: #EC5A6C;
	text-align: right;
	float: right;
}

.pay-detail-modal ul .mark {
	opacity: 0.6;
	font-family: PingFangSC-Regular;
	font-size: 0.24rem;
	color: #EC5A6C;
	background: rgba(251, 174, 174, 0.42);
	box-shadow: 0 .01rem .02rem 0 hsla(0, 0%, 100%, .2), 0 0 .1rem 0 rgba(0, 0, 0, .1);
	border-radius: .1rem;
	overflow: hidden;
	margin: 0.25rem;
}

.btn-bar button {
	font-size: 0.32rem;
	color: #fff;
	background: #6392fe;
	width: 100%;
	height: 100%;
	padding: 0.22rem;
	border-radius: 1rem;
}

.ticket-info .station p {
	font-family: PingFangSC-Regular;
	font-size: 0.24rem;
	color: #999999;
}

.ticket-info .lineTag {
	background: rgba(177,201,255,0.41);
	border: 1px solid #6392FE;
	border-radius: 0.1rem;
	font-family: PingFangSC-Regular;
	font-size: 0.2rem;
	color: #6392FE;
	text-align: center;
	width: 1.2rem;
	padding: 0.03rem 0;
}

.warm-prompt {
	color: #424242;
	padding: 0.22rem;
	font-size: 0.24rem;
	margin-top: 0.11rem;
	margin-bottom: 1rem;
}

.warm-prompt .head {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	margin-bottom: 0.18rem;
	margin-top:.2rem
}
.warm-prompt .head:first-child{
	margin-top: 0;
}

.warm-prompt .head h6 {
	font-size: 0.24rem;
	color: #424242;
	position: relative;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
}

.warm-prompt .head h6:before {
	content: '';
	display: block;
	width: 0.08rem;
	height: 0.08rem;
	border-radius: 0.1rem;
	background: #EC5A6C;
	position: absolute;
	left: -0.12rem;
	top: 0;
	bottom: 0;
	margin: auto 0;
}

.warm-prompt img{
    margin: auto;
    width: 100%;
}

.contact {
    font-size: .32rem;
    color: #333;
	height: 0.45rem;
    line-height: .45rem;
    border-bottom: .01rem solid #f1f1f1;
    padding: .3rem 0;
    margin: 0 .2rem;
}

.contact lable {
    text-align: left
}
.contact lable span {
	font-size: 0.2rem;
	color:#B9B9B9;
	margin-left: 0.1rem;
}

.contact input {
    border: none;
    float: right;
	max-width: 2.1rem;
	overflow: scroll;
    height: .4rem;
	text-align: right;
}
.contact ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color: #DDDDDD;
}
.contact :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #DDDDDD;
}
.contact ::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #DDDDDD;
}
.contact :-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #DDDDDD;
}

.contact i{
	width:.41rem;
	height:.38rem;
	position:absolute;
	right:.2rem;
	background: url(../../images/cityBus/icon_del.png) no-repeat 100%;
	background-size:100% 100%
}

.old-price-total {
    text-decoration: line-through;
    color: #b9b9b9
}

.warm-prompt .head .ticket-rule {
	font-size: 0.24rem;
	color: #6392FE;
}

.warm-prompt p {
	font-size: 0.24rem!important;
}

.passenger .head .handle-plus {
	text-align: right;
	-webkit-align-self: center;
	align-self: center;
}

.passenger .head .handle-plus i {
	width: .96rem;
	color: #fff;
	height: 0.5rem;
	line-height: .5rem;
    text-align: center;
    background: #6392fe;
    box-shadow: 0 0 .2rem 0 rgba(61,59,238,.3);
    border-radius: .06rem;
	display: inline-block;
	vertical-align: middle;
}

.ticket-info .head .time {
	-webkit-box-flex: initial!important;
	-webkit-flex: none!important;
	flex: none!important;
	margin-right: 0.22rem;
}

.ticket-info .amount {
	margin-left: .22rem;
	font-size: .28rem;
	color: #999;
	line-height: .4rem;
}

.btn-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
	height: .75rem;
    line-height: .75rem;
    padding: .2rem;
	background: #F2F2F2;
}

.btn-list .cancel {
    width: 1.44rem;
	height: 0.75rem;
	line-height: 0.75rem;
	color: #AAA;
    background: #fff;
    box-shadow: 0 0 .2rem 0 rgba(227,227,227,0.40);
    border-radius: .06rem;
	display: inline-block;
	vertical-align: middle;
}

.btn-list .submit {
    width: 2.24rem;
	height: 0.75rem;
	line-height: 0.75rem;
	color: #fff;
    box-shadow: 0 0 .2rem 0 rgba(61,59,238,.31);
    border-radius: .06rem;
    background: #6392fe;
	display: inline-block;
	vertical-align: middle;
}

.btn-list .pay-price {
	height: 0.75rem;
	line-height: 0.75rem;
	vertical-align: middle;
    flex: 1;
    margin-right: .2rem;
    font-size: .24rem;
	/*width: 1.5rem;*/
    color: #999;
    letter-spacing: 0;
    text-align: right;
	display: inline-block;
	vertical-align: middle;
}

.common-border-b{
	border-bottom: 1px solid #f1f1f1;
}

#showTotalPrice .total{
	font-size: 0;
}
