
.popup-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 200
}
.select-person-container .select-person-main {
    background: #fff;
    padding: .2rem;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0
}

.select-person-container .select-person-main .title-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-content: center;
    align-content: center;
    height: 1rem
}

.select-person-container .select-person-main .title-content .close {
    font-size: .28rem;
    color: #ccc;
    line-height: 1rem
}

.select-person-container .select-person-main .title-content .confirm-btn {
    font-size: .28rem;
    color: #6392fe;
    line-height: 1rem
}

.select-person-container .select-person-main .title-content .title-box {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column
}

.select-person-container .select-person-main .title-content .title-box .title {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    font-size: .28rem;
    color: #333;
    font-weight: 700
}

.select-person-container .select-person-main .title-content .title-box .title-tips {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    font-size: .2rem;
    color: #aaa
}

.select-person-container .select-person-main .person-content {
    height: 4rem;
    overflow: scroll
}

.select-person-container .select-person-main .person-content .person-item {
    border-top: 1px solid #f2f2f2;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-content: center;
    align-content: center;
    padding: .2rem 0
}

.select-person-container .select-person-main .person-content .person-item .selection {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    margin-right: .5rem
}

.select-person-container .select-person-main .person-content .person-item .selection i {
    width: .3rem;
    height: .3rem;
    -webkit-align-self: center;
    align-self: center;
    background: url(../../images/newInnerCity/icon_radio_bar.png) 50% no-repeat;
    background-size: 100% 100%
}

.select-person-container .select-person-main .person-content .person-item .selection .person-box {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    margin-left: .2rem
}

.select-person-container .select-person-main .person-content .person-item .selection .person-box .name {
    font-size: .28rem;
    color: #333;
    letter-spacing: 0
}

.select-person-container .select-person-main .person-content .person-item .selection .person-box .ID-No {
    font-size: .2rem;
    color: #aaa;
    letter-spacing: 0
}

.select-person-container .select-person-main .person-content .person-item .active i {
    background: url(../../images/newInnerCity/icon_radio_bar_select.png) 50% no-repeat;
    background-size: 100% 100%
}

.select-person-container .select-person-main .person-content .person-item .edit-btn {
    width: .3rem;
    height: .3rem;
    background: url(../../images/newInnerCity/icon-edit.png) 50% no-repeat;
    background-size: 100% 100%;
    -webkit-align-self: center;
    align-self: center
}

.select-person-container .select-person-main .add-person {
    width: 1.1rem;
    height: 1.1rem;
    margin: 0 auto;
    background: url(../../images/newInnerCity/add-btn.png) 50% no-repeat;
    background-size: 100% 100%
}


.edit-person-container .popup-main {
    background: #fff;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: .3rem
}

.edit-person-container .popup-main .title-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    text-align: center;
    padding: .3rem .2rem;
    font-size: .28rem;
    border-bottom: 1px solid #f2f2f2
}

.edit-person-container .popup-main .title-content .close-edit {
    color: #ccc
}

.edit-person-container .popup-main .title-content .confirm-btn {
    color: #6392fe
}

.edit-person-container .popup-main .title-content .title {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    color: #333;
    font-weight: 700
}

.edit-person-container .popup-main .edit-box .edit-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding: .3rem 0;
    margin: 0 .6rem;
    border-top: 1px solid #f2f2f2;
    font-size: .28rem;
    color: #333;
    letter-spacing: 0
}

.edit-person-container .popup-main .edit-box .edit-item:first-child {
    border-top: none
}

.edit-person-container .popup-main .edit-box .edit-item .name {
    width: 1.92rem
}

.edit-person-container .popup-main .edit-box .edit-item input {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    border: none
}

.edit-person-container .popup-main .edit-box .edit-item input::-webkit-input-placeholder {
    color: #aaa
}

.edit-person-container .popup-main .edit-box .edit-item input::placeholder {
    color: #aaa
}