body, html {
    min-height: 100%;
    height: 100%
}

#order-detail {
    width: 100%
}

#order-detail #allmap {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1
}

#order-detail .order-detail-container {
    position: absolute;
    bottom: .23rem;
    z-index: 2;
    background: #fff;
    box-shadow: 0 .02rem .05rem 0 rgba(0, 0, 0, .05);
    border-radius: .03rem;
    left: 0;
    right: 0;
    margin: 0 .22rem
}

#order-detail .order-detail-container .station-content {
    position: relative;
    padding: 0.22rem;
}

#order-detail .order-detail-container .station-content .time {
    font-size: .32rem;
    color: #333;
    margin-bottom: 0.22rem;
}

#order-detail .order-detail-container .station-content .station {
    font-size: .32rem;
    color: #999;
    margin-top: .22rem
}

#order-detail .order-detail-container .station-content .station span {
    padding-left: .38rem;
    display: block;
    position: relative
}

#order-detail .order-detail-container .station-content .station span:before {
    content: "";
    display: block;
    width: .16rem;
    height: .16rem;
    border-radius: .16rem;
    position: absolute;
    top: .15rem;
    bottom: 0;
    left: 0
}

#order-detail .order-detail-container .station-content .station .start:before {
    background: #25ce5f
}

#order-detail .order-detail-container .station-content .station .start:after {
    content: "";
    position: absolute;
    top: .4rem;
    left: .06rem;
    bottom: -.19rem;
    z-index: 6;
    width: 0;
    height: auto;
    border: .02rem solid #ccc;
    border-radius: .5rem
}

#order-detail .order-detail-container .station-content .station .end {
    margin-top: .13rem
}

#order-detail .order-detail-container .station-content .station .end:before {
    background: #fe6666
}

#order-detail .order-detail-container .station-content .station .oldprice {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    color: #333;
    font-size: 0.28rem;
    margin: 0.22rem 0 0.11rem 0;
}
#order-detail .order-detail-container .station-content .station .oldprice .order-price{
    flex: 1;
    text-align: right;
}

#order-detail .order-detail-container .oldprice2 {
    display: inline-flex;
    color: #999;
    width: 100%;
}

#order-detail .order-detail-container .saleprice2 {
    display: inline-flex;
    width: 100%;
    color: #999;
}

#order-detail .order-detail-container .station-content .station .saleprice {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    color: #fe6666;
    width: 100%;
    font-size: 0.28rem;
}
#order-detail .order-detail-container .station-content .station  .sale-price {
    text-align: right;
    flex: 1;
}

#order-detail .order-detail-container .station-content:after {
    content: "";
    display: block;
    position: absolute;
    width: 6.64rem;
    border: 1px dashed #e8e8e8;
    bottom: 0
}

#order-detail .order-detail-container .payment-content {
    text-align: center;
    padding-top: .12rem
}

#order-detail .order-detail-container .payment-content .time {
    font-size: .24rem;
    color: #999
}

#order-detail .order-detail-container .payment-content .price {
    font-size: .32rem;
    color: #333;
    padding: .22rem 0 .4rem
}

#order-detail .order-detail-container .payment-content .evaluate-btn {
    font-size: .32rem;
    display: inline-block;
    position: relative;
    padding-bottom: .22rem
}

#order-detail .order-detail-container .payment-content .evaluate-wait {
    color: #6392fe;
    padding-right: .24rem
}

#order-detail .order-detail-container .payment-content .evaluate-wait:after {
    content: "";
    display: block;
    position: absolute;
    width: .14rem;
    height: .24rem;
    background: url(../../images/hailing/icon-right-2.png) 50% no-repeat;
    background-size: 100% 100%;
    right: 0;
    top: .11rem
}

#order-detail .order-detail-container .payment-content .evaluated {
    color: #999
}

#order-detail .order-detail-container .payment-content .cancel {
    font-size: .38rem;
    color: #333;
    padding: .425rem 0 .79rem
}

#order-detail .order-detail-container .payment-content .pay-wait {
    font-size: .32rem;
    color: #ffa800
}

#order-detail .order-detail-container .payment-content .pay-btn {
    width: 3rem;
    height: .7rem;
    background: #6392fe;
    border-radius: 1rem;
    font-size: .38rem;
    color: #fff;
    margin: .22rem auto .15rem;
    padding: 0;
    line-height: .7rem
}

#order-detail .order-detail-container .payment-content .tips {
    font-size: .24rem;
    color: #999;
    padding-bottom: .22rem
}

#order-detail .order-detail-container .customer-service {
    font-size: .38rem;
    color: #333;
    text-align: center;
    padding: .21rem 0 .26rem
}