body,html {
    height: 100%;
    min-height: 100%;
    background: #f2f2f2
}

.trip-container {
    margin: 0 .2rem;
    padding-bottom: .5rem
}

.trip-container>ul>li {
    margin-top: .3rem
}

.trip-container>ul>li .trip-date {
    font-size: .24rem;
    color: #aaa
}

.trip-container>ul>li ul {
    /* margin-top: .1rem */
}

.top-left{
    display: flex;
    align-items: center;
}

.trip-container>ul>li ul li.trip-item {
    background: #fff;
    box-shadow: 0 0 .2rem 0 rgba(0,0,0,.05);
    border-radius: .06rem;
    margin: .04rem 0 0;
    padding: 0 .2rem
}

.trip-container>ul>li ul li.trip-item .trip-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: .12rem 0;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

.trip-container>ul>li ul li.trip-item .trip-top .top-left .start-time {
    font-size: .2rem;
    color: #666
}

.trip-container>ul>li ul li.trip-item .trip-top .top-left .business-name {
    border: 1px solid #9ebbfb;
    border-radius: .06rem;
    font-size: .2rem;
    text-align: center;
    color: #9ebbfb;
    margin-left: .2rem;
    height: .3rem;
    line-height: .32rem;
    padding: 0 .15rem;
    display: inline-block;
}

.trip-container>ul>li ul li.trip-item .trip-top .trip-status {
    font-size: .2rem;
    color: #f5a623
}

.trip-container>ul>li ul li.trip-item .trip-top .trip-status.checked {
    color: #7ed321
}

.trip-container>ul>li ul li.trip-item .trip-middle {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: .2rem 0;
    border-bottom: 1px dashed #e8e8e8;
    position: relative
}

.trip-container>ul>li ul li.trip-item .trip-middle .station-info {
    text-align: center
}

.trip-container>ul>li ul li.trip-item .trip-middle .station-info .station-name {
    font-size: .24rem;
    color: #666;
    width: 1.86rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.trip-container>ul>li ul li.trip-item .trip-middle .station-info .station-city {
    font-size: .2rem;
    color: #aaa
}

.trip-container>ul>li ul li.trip-item .trip-middle .transfer {
    width: 1.42rem;
    height: .08rem;
    background: url(../../images/cityBus/line.png) 50% no-repeat;
    background-size: 100% 100%;
    margin: 0 .39rem
}

.trip-container>ul>li ul li.trip-item .trip-middle .more-info-btn {
    width: .08rem;
    height: .16rem;
    background: url(../../images/cityBus/icon_more.png) 50% no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.trip-container>ul>li ul li.trip-item .trip-bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: .26rem 0;
    font-size: .2rem
}

.trip-container>ul>li ul li.trip-item .trip-bottom .license-plate {
    color: #666
}

.trip-container>ul>li ul li.trip-item .trip-bottom .trip-buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: right
}

.trip-container>ul>li ul li.trip-item .trip-bottom .trip-buttons .button {
    color: #aaa;
    box-shadow: 0 0 .2rem 0 hsla(0,0%,89%,.4);
    border-radius: .06rem;
    padding: 0 .2rem;
    height: 0.5rem;
    line-height: .5rem;
    font-size: 0.24rem;
    margin-right: .1rem;
    text-align: center;
}

.trip-container>ul>li ul li.trip-item .trip-bottom .trip-buttons .button:active {
    color: #fff;
    background: #6392fe;
    box-shadow: 0 0 .2rem 0 rgba(61,59,238,.3)
}

.trip-container>ul>li ul li.trip-item .trip-bottom .trip-buttons .button:last-child{
    margin-right: 0;
}

.deblocking {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: hsla(0,0%,40%,.3)
}

.deblocking .main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 88%;
    height: 6.6rem;
    margin: auto;
    background: #f9f9f9;
    border-radius: .2rem
}

.deblocking .main .progress {
    display: none;
    position: absolute;
    top: -14px;
    left: 6px;
    right: 6px;
    height: 8px;
    background: #f1f1f1;
    border-radius: 1rem
}

.deblocking .main .progress .bar {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 8px;
    background: #6392fe;
    border-radius: 1rem;
    -webkit-transition: width .5s;
    transition: width .5s;
    width: 0;
    max-width: 100%
}

.deblocking .main .content h4 {
    font-size: .32rem;
    color: #333;
    text-align: center;
    margin-top: .29rem
}

.deblocking .main .content p {
    font-size: .24rem;
    color: #999;
    margin-top: .1rem;
    text-align: center
}
.deblocking.active .main .content h4{
    font-weight: normal;
}

.deblocking .main .content .thumb {
    margin: .75rem auto 0;
    width: 4.33rem;
    height: 3.87rem;
    background: url(../../images/cityBus/deblocking.png) no-repeat 50%;
    background-size: 100% 100%
}
.deblocking.active .main .content .thumb {
    background: url(../../images/cityBus/deblocking-gray.png) no-repeat 50%;
    background-size: 100% 100%
}

.trip-container>ul>li ul li.trip-item .trip-bottom .trip-tips{
    color: #666;
    font-size: 0.24rem;
}
/*从ftl页面挪过来的样式*/
.trip-container{min-height: 83vh;}
.trip-container>ul>li ul li.trip-item .trip-top .top-left .start-time,
.trip-container>ul>li ul li.trip-item .trip-bottom,
.trip-container>ul>li ul li.trip-item .trip-top .trip-status{font-size:.24rem;}
/*.trip-container>ul>li ul li.trip-item .trip-bottom .trip-buttons .button{width: .96rem;line-height: .5rem;margin-right: .1rem;text-align: center;}*/
.handle-list{position: fixed;bottom: 0;padding: .2rem;z-index: 10}
.handle-list .handle{background: #fff;box-shadow: 0 0 .2rem 0 hsla(0,0%,89%,.4);border-radius: .06rem;font-size: .32rem;color: #aaa;letter-spacing: 0;text-align: center;padding: .15rem .4rem}
.handle-list .handle:active{background: #ccc}
.noTrip{display: none;}
.noTrip img{width: 50%;margin: 0 25%;margin-top: 50%;}
.noTrip>div{font-size: .24rem;color: #999999;text-align: center;margin-top: .4rem;}