.little-red-packet{
  z-index: 600;
  display:none;
  position: fixed;
  right: .17rem;
  bottom: 2.45rem;
  width: .84rem;
  height: 1.4rem;
  background: url("../../images/newInnerCity/red-packet.png") no-repeat 100%;
  background-size: 100% 100%;
}

.popup {
	z-index:999;
	display:none;
	position:fixed;
	left:.75rem;
	top:0
}
.popup .direct {
	position:absolute;
	top:1.47rem;
	right:.41rem;
	width:.96rem;
	height:1.25rem;
	background:url(../../images/newInnerCity/direction.png) no-repeat 100%;
	background-size:100% 100%
}

.popup .red-packet-popup {
	width:6rem;
	height:5.49rem;
	background:#fdf8e3;
	box-shadow:0 .04rem .01rem 0 rgba(0,0,0,.3);
	border-radius:.2rem;
	margin:3rem auto 0
}
.popup .red-packet-popup .red-packet-img {
	height:3.79rem;
	background:url(../../images/newInnerCity/red-packet-bg.png) no-repeat 100%;
	background-size:100% 100%
}
.popup .red-packet-popup .red-packet-context1 {
	margin-top:.413rem;
	font-family:PingFangSC-Medium;
	font-size:.38rem;
	color:#f0514d;
	letter-spacing:0;
	text-align:center
}
.popup .red-packet-popup .red-packet-context2 {
	opacity:.3;
	margin-top:.055rem;
	font-family:PingFangSC-Regular;
	font-size:.28rem;
	color:#f0514d;
	text-align:center
}
.popup .btn-close-popup {
	width:.651rem;
	height:.651rem;
	margin:.61rem auto 0;
	background:url(../../images/newInnerCity/red-packet-close.png) no-repeat 100%;
	background-size:100% 100%
}
.popup-overlay {
	display:none;
	position:fixed;
	background:#000;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:700;
	-moz-opacity:.5;
	opacity:.5;
	filter:alpha(opacity=50)
}
