@charset "utf-8";
.order-info {
    position: relative;
    min-height: 1.64rem;
    background-color: #fff
}

.order-info .call-tel {
    width: 1rem;
    height: 1rem;
    margin: auto 0;
    background: url(../../images/common/icon_tel.png) 50% no-repeat;
    background-size: 100% 100%;
}

.order-info .call-tel:active {
    background-color: rgba(0, 0, 0, .1)
}

.order-info .call-tel-disabled {
    background-image: url(../../images/common/icon_tel_dis.png)
}

.order-info .call-tel-disabled:active {
    background-color: #fff
}

.driver-info {
    display:flex;
}

.driver-info dl {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: .22rem 0 0 .22rem;
    margin-right: 2rem;
}

.driver-info dl dt img {
    width: 1.205rem;
    height: 1.21rem;
    border-radius: 100%
}

.driver-info dl dd {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    margin-left: .215rem;
    font-size: .28rem;
    color: #323232;
    line-height: 0.3rem;
}

.driver-info dl dd .attribute {
    font-size: .24rem;
    color: #999
}

.driver-info dl dd .starbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-self: center;
    align-self: center;
    width: 1.74rem;
    margin-top: .1rem;
    position: relative
}

.driver-info dl dd .starbar i {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    display: block;
    height: .3rem;
    margin-left: .06rem;
    background: url(../../images/common/icon_star.png) 0 0 no-repeat;
    background-size: 100% auto
}

.driver-info dl dd .starbar i:first-child {
    margin-left: 0
}

.driver-info dl dd .starbar .star {
    background-position: 0 100%
}

.driver-info dl dd .starbar .star-half {
    background-position: 0
}

.driver-info dl dd .grade {
    border: 1px solid #ffa800;
    color: #ffa800;
    padding: 0 .06rem;
    border-radius: 1rem;
    position: absolute;
    height: .28rem;
    line-height: .28rem;
    left: 1.8rem;
    top: 0
}

.driver-info dl dd .grade:before {
    content: "";
    display: inline-block;
    width: .22rem;
    height: .24rem;
    position: absolute;
    left: .02rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background: url(../../images/common/icon_grade.png) 50% no-repeat;
    background-size: 100% 100%
}

.driver-info dl dd .grade span {
    padding: 0 .08rem 0 .24rem
}

.driver-receive-inter {
    padding-bottom: 2.4rem
}

.msg-tip {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    background-color: #fff;
    padding: .23rem .22rem .33rem .82rem;
    font-size: .26rem;
    color: #666;
    position: relative;
    z-index: 1;
}

.msg-tip:before {
    content: "";
    width: .44rem;
    height: .44rem;
    position: absolute;
    left: .215rem;
    top: .2rem;
    background: url(../../images/rent/icon_horn_grey.png) 50% no-repeat;
    background-size: 100% 100%
}

.driver-detail {
    position: relative;
    z-index: 1;
    margin: .22rem;
    background-color: #fff;
    border: 1px solid #e8e8e8
}

.driver-detail .attribute {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 8px 0;
    text-align: center;
    color: #666
}

.driver-detail .attribute .antipate-time, .driver-detail .attribute .distance {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1
}

.driver-detail .attribute span {
    font-size: 14px;
    color: #ff001f
}

.driver-detail .attribute .bevy {
    line-height: 20px
}

.driver-detail .attribute .bevy span {
    font-size: 16px
}

.driver-detail .no-flex {
    display: block
}

.driver-detail .order-address {
    padding: .22rem
}

.driver-detail .order-address .content {
    margin-top: .22rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-self: center;
    align-self: center
}

.driver-detail .order-address .content ul {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1
}

.driver-detail .order-address .content ul li {
    position: relative;
    padding-left: .38rem;
    text-align: left;
    font-size: .32rem;
    color: #333;
    line-height: .45rem;
    margin-top: .13rem
}

.driver-detail .order-address .content ul li:first-child {
    margin-top: 0
}

.driver-detail .order-address .content ul li:before {
    content: "";
    position: absolute;
    top: .12rem;
    left: 0;
    width: .16rem;
    height: .16rem;
    border-radius: 100%
}

.driver-detail .order-address .content ul li.start:before {
    background: #25ce5f
}

.driver-detail .order-address .content ul li.end:before {
    background: #fe6666
}

.driver-detail .order-address .content ul li.start:after {
    content: "";
    position: absolute;
    top: .36rem;
    bottom: -.18rem;
    left: .06rem;
    width: .04rem;
    background: #ccc
}

.driver-detail .inter {
    position: relative
}

.driver-detail .inter .start-time {
    font-size: .32rem;
    color: #333
}

.driver-detail .inter .car-type {
    min-width: 1.6rem;
    height: 1.2rem;
    text-align: center;
    font-size: .32rem;
    color: #333;
    padding: .08rem .14rem .07rem .15rem;
    border: 1px solid #e6e6e6;
    border-radius: .08rem;
    box-sizing: border-box;
    margin: -.22rem 0 0 .22rem
}

.driver-detail .inter .car-type span, .driver-detail .other-msg {
    color: #999;
    font-size: .28rem
}

.driver-detail .other-msg {
    position: relative;
    padding: .18rem .22rem .17rem .62rem;
    border-top: 1px solid #e6e6e6
}

.driver-detail .other-msg:before {
    content: "";
    position: absolute;
    top: .27rem;
    left: .22rem;
    width: .3rem;
    height: .23rem;
    background: url(../../images/rent/icon_dialog.png) 50% no-repeat;
    background-size: 100% 100%
}

.driver-foot {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.driver-foot .btn-group {
    position: relative;
    padding-right: .15rem
}

.driver-foot .btn-group .btn {
    font-size: .34rem;
    margin-left: .07rem
}

.driver-foot .btn-group .btn:first-child {
    margin-left: 0
}

.driver-foot .link {
    text-align: center;
    font-size: .28rem;
    color: #999
}

.driver-foot .link:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: .33rem;
    height: .34rem;
    margin-right: .1rem;
    background: url(../../images/rent/icon_earphone.png) no-repeat 50%;
    background-size: 100% 100%
}

.driver-foot .link span {
    vertical-align: middle
}

.driver-foot .link span.contacts-help:before {
    content: "";
    display: inline-block;
    vertical-align: text-bottom;
    width: .35rem;
    height: .35rem;
    background: url(../../images/rent/emergency_help.png) no-repeat 50%;
    background-size: 100% 100%
}

.driver-loading {
    padding: 20px 0;
    color: #999
}

.driver-await .attribute {
    color: #333
}

.share {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 999
}

.share .tip {
    color: #fff;
    font-size: 16px;
    position: absolute;
    top: 220px;
    width: 100%;
    text-align: center
}

.share .arrow {
    width: 115px;
    height: 202px;
    position: absolute;
    right: 19px;
    top: 4px;
    background: url(../../images/common/share_arrow.png) 50% no-repeat;
    background-size: auto 202px
}

#allmap {
    position: absolute;
    top: 1.64rem;
    bottom: 0;
    left: 0;
    width: 100%;
}

.mark-label {
    width: 4.7rem;
    margin: -.84rem 0 0 -2.18rem;
    padding: .13rem .1rem .3rem;
    font-size: .26rem;
    line-height: .37rem;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    background: url(../../images/hailing/mark-label.png) no-repeat 50%;
    background-size: 100% 100%
}

.more-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 40%, .3)
}

.more-modal ul {
    position: absolute;
    bottom: 1.51rem;
    left: .35rem;
    right: .35rem;
    background: #fff;
    box-shadow: 0 .01rem .02rem 0 hsla(0, 0%, 100%, .2), 0 0 .1rem 0 rgba(0, 0, 0, .1);
    border-radius: .2rem;
    overflow: hidden
}

.more-modal ul li {
    position: relative;
    display: block;
    height: .94rem;
    line-height: .94rem;
    padding: 0 .1rem;
    text-align: center;
    overflow: hidden;
    border-bottom: .01rem solid #eaeaea;
    font-size: .38rem;
    color: #666
}

.more-modal ul li:last-child {
    border-bottom: 0 none
}

.more-modal ul li.active {
    background: #6392fe;
    color: #fff
}

.more-modal ul li:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 40%, .1)
}

.more-modal ul li:active:after {
    content: ""
}