body,html {
    min-height: 100%;
    height: 100%
}

.information-container {
    background: #fff;
    box-shadow: 0 0 .2rem 0 rgba(0,0,0,.1);
    width: 100%;
    z-index: 200;
    position: absolute;
    top: 0;
    left: 0
}

.information-container .tabs-panel {
    position: relative;
    background-color: #fff;
    border-radius: 3px
}

.information-container .tabs-panel .tab-contents {
    padding: 0 .2rem 0 .4rem
}

.information-container .tabs-panel .tab-contents .search-station {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding-bottom: 1px
}

.information-container .tabs-panel .tab-contents .search-station .sui-list {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1
}

.information-container .tabs-panel .tab-contents .search-station .sui-list .bottom-line {
    border-bottom: 1px solid #f1f1f1;
    margin-left: .4rem
}

.information-container .tabs-panel .tab-contents .search-station .sui-list li {
    margin-left: 0;
    padding: .362rem 0 .35rem;
    background: none
}

.information-container .tabs-panel .tab-contents .search-station .sui-list li .control {
    padding-left: .37rem;
    position: relative
}

.information-container .tabs-panel .tab-contents .search-station .sui-list li .control:before {
    content: "";
    display: block;
    width: .16rem;
    height: .15rem;
    position: absolute;
    left: .05rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border-radius: 100%
}

.information-container .tabs-panel .tab-contents .search-station .sui-list li .control input {
    display: block;
    width: 100%;
    border: 0;
    font-size: .28rem;
    color: #333
}

.information-container .tabs-panel .tab-contents .search-station .sui-list li .start:before {
    border: .03rem solid #6392fe
}

.information-container .tabs-panel .tab-contents .search-station .sui-list li .end:before {
    border: .03rem solid #333
}

.information-container .tabs-panel .tab-contents .search-station .sui-list li .end input::-webkit-input-placeholder {
    font-size: .28rem;
    color: #ccc
}

.information-container .tabs-panel .tab-contents .search-station .v-line {
    height: .6rem;
    width: 1px;
    /*background-color: #d3d2db;*/
    float: left;
    position: relative;
    margin-top: .72rem;
    margin-left: .13rem;
    background: url("../../images/innerCity/v-line.png") no-repeat 50%;
    background-size: 100% 100%;
}

.information-container .tabs-panel .tab-contents .search-station .switch-btn {
    margin-left: .37rem;
    width: .58rem;
    height: .58rem;
    background: url(../../images/common/header/icon-exchange.png) 50% no-repeat;
    background-size: 100% 100%
}

.information-container .info-box {
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding: .21rem 0
}

.information-container .info-box .info-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
    font-size: .28rem;
    color: #333;
    position: relative;
    line-height: .5rem;
    padding: 0 .2rem 0 .71rem
}

.information-container .info-box .info-item input {
    border: none;
    text-align: center;
    width: 100%
}

.information-container .info-box .amount-box {
    border-right: 1px solid #f2f2f2
}

.information-container .info-box .amount-box:before {
    content: "";
    display: block;
    width: .24rem;
    height: .28rem;
    background: url(../../images/newInnerCity/icon-amount.png) 50% no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: .44rem;
    top: .11rem
}

.information-container .info-box .time-box:before {
    content: "";
    display: block;
    width: .24rem;
    height: .24rem;
    background: url(../../images/newInnerCity/icon-start-time.png) 50% no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: .44rem;
    top: .12rem
}

.information-container .notes-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding: .16rem .36rem
}

.information-container .notes-box .icon {
    width: .24rem;
    height: .24rem;
    background: url(../../images/newInnerCity/icon-notes.png) 50% no-repeat;
    background-size: 100% 100%;
    -webkit-align-self: center;
    align-self: center
}

.information-container .notes-box .notes {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    margin-left: .27rem;
    border: none;
    height: .6rem;
    line-height: .3rem;
    font-size: .22rem;
    color: #333333
}

.information-container .notes-box textarea::-webkit-input-placeholder {
    color: #CCCCCC;
    line-height: 0.6rem;
}
.information-container .notes-box textarea:-moz-placeholder {
    color: #CCCCCC;
    line-height: 0.6rem;
}
.information-container .notes-box textarea::-moz-placeholder {
    color: #CCCCCC;
    line-height: 0.6rem;
}
.information-container .notes-box textarea:-ms-input-placeholder  {
    color: #CCCCCC;
    line-height: 0.6rem;
}

.confirm-container {
    z-index: 200;
    position: fixed;
    left: 0;
    right: 0;
    padding: .22rem;
    bottom: 0
}

.confirm-container .confirm-content {
    background: #fff;
    box-shadow: 0 0 .2rem 0 rgba(0,0,0,.1);
    border-radius: .06rem;
    padding: .2rem
}

.confirm-container .confirm-content .vehicle-switch-box {
    max-width: 6.9rem;
    overflow: hidden;
    white-space: nowrap;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: 2.5rem;
}

.confirm-container .confirm-content .vehicle-switch-box ul {
    text-align: center;
    display: inline-block;
   /*  width: 2.3rem;
    min-width: 2.3rem; */
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.confirm-container .confirm-content .vehicle-switch-box ul .vehicle-item {
    text-align: center;
    display: inline-block;
    width: 2rem;
    min-width: 2rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}



.confirm-container .confirm-content .vehicle-switch-box ul .vehicle-item .vehicle-info .name {
    font-size: .24rem;
    color: #ccc;
    letter-spacing: 0
}

.confirm-container .confirm-content .vehicle-switch-box ul .vehicle-item .vehicle-info .stage-icon {
    padding: .3rem 0
}

.confirm-container .confirm-content .vehicle-switch-box ul .vehicle-item .vehicle-info .stage-icon i {
    display: block;
    margin: 0 auto;
    border: none;
    width: 1.1rem;
    height: 0.5rem;
    transition: all 500ms;
    -o-transition: all 500ms;
    -moz-transition: all 500ms;
    -webkit-transition: all 500ms;
}

.confirm-container .confirm-content .vehicle-switch-box ul .vehicle-item .stage-one i {
    background: url(../../images/newInnerCity/stage-one-gray.png) 50% no-repeat;
    background-size: 100% 100%
}

.confirm-container .confirm-content .vehicle-switch-box ul .vehicle-item .stage-two i {
    background: url(../../images/newInnerCity/stage-two-gray.png) 50% no-repeat;
    background-size: 100% 100%
}

.confirm-container .confirm-content .vehicle-switch-box ul .vehicle-item .stage-three i {
    background: url(../../images/newInnerCity/stage-three-gray.png) 50% no-repeat;
    background-size: 100% 100%
}

.confirm-container .confirm-content .vehicle-switch-box ul .vehicle-item .stage-four i {
    background: url(../../images/newInnerCity/stage-four-gray.png) 50% no-repeat;
    background-size: 100% 100%
}

.confirm-container .confirm-content .vehicle-switch-box ul .vehicle-item .price-box .price {
    font-size: .18rem;
    color: #ccc;
    letter-spacing: 0
}

.confirm-container .confirm-content .vehicle-switch-box ul .vehicle-item .price-box .price span {
    font-size: .18rem;
    padding-left: .1rem;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.confirm-container .confirm-content .vehicle-switch-box ul .vehicle-item .price-box .price i {
    display: inline-block;
    width: 0.078rem;
    height: 0.14rem;
    background: url("../../images/newInnerCity/icon-right-gray.png") center no-repeat;
    background-size: 100% 100%;
    margin-left: 0.1rem;
}

.confirm-container .confirm-content .vehicle-switch-box ul .vehicle-item .price-box .coupon {
    font-size: .18rem;
    color: #ccc;
    letter-spacing: 0;
    text-align: center
}

.confirm-container .confirm-content .vehicle-switch-box ul .vehicle-item .line-through {
    text-decoration: line-through
}

.confirm-container .confirm-content .vehicle-switch-box ul .active .vehicle-info .name {
    font-size: .28rem;
    color: #333
}

.confirm-container .confirm-content .vehicle-switch-box ul .active .vehicle-info .stage-icon i {
    width: 1.3rem;
    height: .56rem;
}

.confirm-container .confirm-content .vehicle-switch-box ul .active .vehicle-info .stage-one i {
    background: url(../../images/newInnerCity/stage-one-balck.png) 50% no-repeat;
    background-size: 100% 100%
}

.confirm-container .confirm-content .vehicle-switch-box ul .active .stage-two i {
    background: url(../../images/newInnerCity/stage-two-balck.png) 50% no-repeat;
    background-size: 100% 100%
}

.confirm-container .confirm-content .vehicle-switch-box ul .active .stage-three i {
    background: url(../../images/newInnerCity/stage-three-balck.png) 50% no-repeat;
    background-size: 100% 100%
}

.confirm-container .confirm-content .vehicle-switch-box ul .active .stage-four i {
    background: url(../../images/newInnerCity/stage-four-balck.png) 50% no-repeat;
    background-size: 100% 100%
}

.confirm-container .confirm-content .vehicle-switch-box ul .active .price-box .price {
    font-size: .2rem;
    color: #333
}

.confirm-container .confirm-content .vehicle-switch-box ul .active .price-box .price span {
    font-size: .24rem;
    color: #151515;
    line-height: .33rem
}

.confirm-container .confirm-content .vehicle-switch-box ul .active .price-box .price i {
    width: 0.096rem;
    height: 0.176rem;
    background: url("../../images/newInnerCity/icon-right-black.png") center no-repeat;
    background-size: 100% 100%;
}

.confirm-container .confirm-content .vehicle-switch-box ul .active .price-box .coupon {
    font-size: .2rem;
    color: #aaa
}

.confirm-container .confirm-content .vehicle-switch-box ul .active .price-box .line-through {
    text-decoration:line-through
}

.confirm-container .confirm-content .btn-bar {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: .75rem;
}

.confirm-container .confirm-content .btn-bar .back {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    display: block;
    background: #fff;
    box-shadow: 0 0 .2rem 0 hsla(0,0%,89%,.4);
    border-radius: .06rem;
    text-align: center;
    font-size: .28rem;
    color: #aaa;
    letter-spacing: 0
}

.confirm-container .confirm-content .btn-bar .confirm-btn {
    -webkit-box-flex: 1.6;
    -webkit-flex: 1.6;
    flex: 1.6;
    background: #6392fe;
    box-shadow: 0 0 .2rem 0 rgba(61,59,238,.31);
    border-radius: .06rem;
    font-size: .28rem;
    color: #fff;
    letter-spacing: 0;
    text-align: center;
    margin: 0 .27rem
}

.confirm-container .confirm-content .btn-bar .action-box {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.confirm-container .confirm-content .btn-bar .action-box .action-item {
    font-size: .24rem;
    color: #aaa;
    position: relative;
    padding-left: .4rem
}

.confirm-container .confirm-content .btn-bar .action-box .action-item i {
    width: .24rem;
    height: .24rem;
    display: inline-block;
    position: absolute;
    top: .04rem;
    left: 0
}

.confirm-container .confirm-content .btn-bar .action-box .instead i {
    background: url(../../images/newInnerCity/icon-instead.png) 50% no-repeat;
    background-size: 100% 100%
}

.confirm-container .confirm-content .btn-bar .action-box .tips-btn i {
    background: url(../../images/newInnerCity/icon-tips.png) 50% no-repeat;
    background-size: 100% 100%
}

.popup-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 200
}

.tips-container-popup .tips-box {
    background: #fff;
    box-shadow: 0 0 .2rem 0 rgba(0,0,0,.1);
    border-radius: .06rem;
    margin: 1.79rem .4rem 0;
    padding: .3rem .22rem .34rem .2rem
}

.tips-container-popup .tips-box .tips-title {
    font-size: .28rem;
    color: #333;
    text-align: center;
    font-weight: bold;
}

.tips-container-popup .tips-box .tips {
    font-size: .24rem;
    color: #666;
    letter-spacing: 0;
    max-height: 4.954rem;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: .4rem
}

.tips-container-popup .tips-box .tips::-webkit-scrollbar-track-piece {
    background-color: rgba(0,0,0,.06);
    border-left: 1px solid transparent
}

.tips-container-popup .tips-box .tips::-webkit-scrollbar {
    width: .08rem;
    height: .26rem;
    border-radius: 5px
}

.tips-container-popup .tips-box .tips::-webkit-scrollbar-thumb {
    background-color: rgba(99,146,254,.6);
    background-clip: padding-box;
    border-radius: 5px;
    min-height: .56rem
}

.tips-container-popup .tips-box .tips::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,.5);
    border-radius: 5px
}

.tips-container-popup .tips-box .service-rules-btn {
    background: #6392fe;
    box-shadow: 0 0 .2rem 0 rgba(61,59,238,.31);
    border-radius: .06rem;
    width: 3.45rem;
    font-size: .28rem;
    color: #fff;
    letter-spacing: 0;
    text-align: center;
    margin: .2rem auto 0;
    padding: .14rem 0
}

.tips-container-popup .close {
    width: .8rem;
    height: .8rem;
    background: url(../../images/newInnerCity/close.png) 50% no-repeat;
    background-size: 100% 100%;
    margin: .4rem auto 0
}

.price-detail-container .price-detail-title {
    font-size: .38rem;
    color: #666;
    text-align: center;
    padding-top: .4rem
}

.price-detail-container .close-box{
    width: 0.8rem;
    height: 0.8rem;
    position: absolute;
    top: 0.3rem;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center
}

.price-detail-container .close-box .close-btn {
    width: .14rem;
    height: .24rem;
    background: url(../../images/newInnerCity/icon-left.png) 50% no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
}
.price-detail-container .pay-price{
    text-align: center;
    font-size: 0.48rem;
    color: #666666;
    margin-top: 0.49rem;
}
.price-detail-container .pay-price span{
    font-size: 0.28rem;
    color: #2A2A2A;
}
.price-detail-container .price-detail-main {
    margin: 1.05rem 1.2rem 0
}

.price-detail-container .price-detail-main .detail-box .detail-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    font-size: .28rem;
    color: #666;
    letter-spacing: 0;
    padding: .15rem 0
}

.price-detail-container .price-detail-main .detail-box .detail-item .name {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1
}

.price-detail-container .price-detail-main .detail-box .detail-item .number {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    text-align: right
}

.price-detail-container .price-detail-main .coupon-box {
    margin-top: .15rem;
    padding: .3rem 0;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2
}

.price-detail-container .price-detail-main .coupon-box .coupon-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    font-size: .28rem;
    color: #fe6666;
    letter-spacing: 0;
    padding: 0.15rem 0;
}

.price-detail-container .price-detail-main .coupon-box .coupon-item .name {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1
}

.price-detail-container .price-detail-main .coupon-box .coupon-item .number {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    text-align: right
}

.price-detail-container .market-rules-btn {
    background: #fff;
    border: 1px solid #f2f2f2;
    border-radius: .06rem;
    font-size: .32rem;
    color: #aaa;
    letter-spacing: 0;
    text-align: center;
    padding: .2rem 0;
    width: 3.12rem;
    margin: 2.9rem auto 0
}

.market-rule-container .back-box{
    width: 0.8rem;
    height: 0.8rem;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0.3rem;
}

.market-rule-container .back-box .back-btn {
    width: .14rem;
    height: .24rem;
    background: url(../../images/newInnerCity/icon-left.png) 50% no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
}

.market-rule-container .market-title {
    margin-top: .4rem;
    font-size: .38rem;
    color: #666;
    text-align: center
}

.market-rule-container .market-content {
    margin: 0 1rem
}

.market-rule-container .market-content ul .stage-type {
    border-top: 1px solid #f2f2f2;
    padding: .4rem 0 .2rem
}

.market-rule-container .market-content ul .stage-type:first-child {
    border-top: none
}

.market-rule-container .market-content ul .stage-type .stage-name {
    font-size: .28rem;
    color: #666;
    letter-spacing: 0;
    text-align: center
}

.market-rule-container .market-content ul .stage-type ul .stage-item {
    padding-top: .3rem
}

.market-rule-container .market-content ul .stage-type ul .stage-item .unit-box {
    font-size: .28rem;
    color: #aaa;
    letter-spacing: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
}

.market-rule-container .market-content ul .stage-type ul .stage-item .unit-box .unit {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1
}

.market-rule-container .market-content ul .stage-type ul .stage-item .unit-box .price {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    text-align: right
}

.market-rule-container .market-content ul .stage-type ul .stage-item .total {
    font-size: .2rem;
    color: #aaa;
    letter-spacing: 0
}

.select-amount-container .select-amount-main {
    background: #fff;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0
}

.select-amount-container .select-amount-main .title-content {
    padding: .2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-content: center;
    align-content: center;
    height: 1rem;
    border-bottom: 1px solid #f2f2f2
}

.select-amount-container .select-amount-main .title-content .close {
    font-size: .28rem;
    color: #ccc;
    line-height: 1rem
}

.select-amount-container .select-amount-main .title-content .confirm-btn {
    font-size: .28rem;
    color: #6392fe;
    line-height: 1rem
}

.select-amount-container .select-amount-main .title-content .title {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
    line-height: 1rem;
    font-weight: 700
}

.select-amount-container .select-amount-main .amount-box {
    height: 3.4rem;
    overflow: hidden
}

.select-amount-container .select-amount-main .amount-box ul {
    padding: .08rem 0
}

.select-amount-container .select-amount-main .amount-box ul li {
    font-size: .32rem;
    color: #999;
    text-align: center;
    height: .63rem;
    line-height: .63rem
}

.select-amount-container .select-amount-main .amount-box ul .active {
    font-size: .32rem;
    color: #333;
    text-align: center;
    font-weight: 700;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2
}

.select-person-container .select-person-main {
    background: #fff;
    padding: .2rem;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0
}

.select-person-container .select-person-main .title-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-content: center;
    align-content: center;
    height: 1rem
}

.select-person-container .select-person-main .title-content .close {
    font-size: .28rem;
    color: #ccc;
    line-height: 1rem
}

.select-person-container .select-person-main .title-content .confirm-btn {
    font-size: .28rem;
    color: #6392fe;
    line-height: 1rem
}

.select-person-container .select-person-main .title-content .title-box {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column
}

.select-person-container .select-person-main .title-content .title-box .title {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    font-size: .28rem;
    color: #333;
    font-weight: 700
}

.select-person-container .select-person-main .title-content .title-box .title-tips {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    font-size: .2rem;
    color: #aaa
}

.select-person-container .select-person-main .person-content {
    height: 4rem;
    overflow: scroll
}

.select-person-container .select-person-main .person-content .person-item {
    border-top: 1px solid #f2f2f2;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-content: center;
    align-content: center;
    padding: .2rem 0
}

.select-person-container .select-person-main .person-content .person-item .selection {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    margin-right: .5rem
}

.select-person-container .select-person-main .person-content .person-item .selection i {
    width: .3rem;
    height: .3rem;
    -webkit-align-self: center;
    align-self: center;
    background: url(../../images/newInnerCity/icon_radio_bar.png) 50% no-repeat;
    background-size: 100% 100%
}

.select-person-container .select-person-main .person-content .person-item .selection .person-box {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    margin-left: .2rem
}

.select-person-container .select-person-main .person-content .person-item .selection .person-box .name {
    font-size: .28rem;
    color: #333;
    letter-spacing: 0
}

.select-person-container .select-person-main .person-content .person-item .selection .person-box .ID-No {
    font-size: .2rem;
    color: #aaa;
    letter-spacing: 0
}

.select-person-container .select-person-main .person-content .person-item .active i {
    background: url(../../images/newInnerCity/icon_radio_bar_select.png) 50% no-repeat;
    background-size: 100% 100%
}

.select-person-container .select-person-main .person-content .person-item .edit-btn {
    width: .3rem;
    height: .3rem;
    background: url(../../images/newInnerCity/icon-edit.png) 50% no-repeat;
    background-size: 100% 100%;
    -webkit-align-self: center;
    align-self: center
}

.select-person-container .select-person-main .add-person {
    width: 1.1rem;
    height: 1.1rem;
    margin: 0 auto;
    background: url(../../images/newInnerCity/add-btn.png) 50% no-repeat;
    background-size: 100% 100%
}

.edit-person-container .popup-main {
    background: #fff;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: .3rem
}

.edit-person-container .popup-main .title-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    text-align: center;
    padding: .3rem .2rem;
    font-size: .28rem;
    border-bottom: 1px solid #f2f2f2
}

.edit-person-container .popup-main .title-content .close-edit {
    color: #ccc
}

.edit-person-container .popup-main .title-content .confirm-btn {
    color: #6392fe
}

.edit-person-container .popup-main .title-content .title {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    color: #333;
    font-weight: 700
}

.edit-person-container .popup-main .edit-box .edit-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding: .3rem 0;
    margin: 0 .6rem;
    border-top: 1px solid #f2f2f2;
    font-size: .28rem;
    color: #333;
    letter-spacing: 0
}

.edit-person-container .popup-main .edit-box .edit-item:first-child {
    border-top: none
}

.edit-person-container .popup-main .edit-box .edit-item .name {
    width: 1.92rem
}

.edit-person-container .popup-main .edit-box .edit-item input {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    border: none
}

.edit-person-container .popup-main .edit-box .edit-item input::-webkit-input-placeholder {
    color: #aaa
}

.edit-person-container .popup-main .edit-box .edit-item input::placeholder {
    color: #aaa
}

.ola-maps {
    width: 100%;
    height: 100%
}

#currLocation {
    width: 1rem;
    height: 1rem;
    background: url(../../images/rent/icon-cur.png) 50% no-repeat;
    background-size: 100% 100%;
    position: absolute;
    z-index: 100;
    right: .1rem;
    bottom: 4.7rem
}

.marker-info-box {
    padding: .2rem .4rem .276rem;
    background: url(../../images/newInnerCity/marker-tips-bg.png) 50% no-repeat;
    background-size: 100% 100%;
    font-size: .28rem;
    color: #666;
    letter-spacing: 0
}

.sui-popup-container{
    z-index: 999!important;
}