.all-container {
    background: #f3f4f5
}

.all-container .poster-container {
    background: #f3f4f5;
    padding: .211rem 0 .3rem;
    position: relative
}

.all-container .poster-container .poster-box {
    width: 5.2rem;
    height: 8.4rem;
    margin: 0 auto;
    position: relative;
    background: #fff;
    box-shadow: 0 .02rem .02rem 0 rgba(0, 0, 0, .05)
}

.all-container .poster-container .poster-box img {
    display: block;
    width: 100%;
    height: 100%
}

.all-container .poster-container .poster-box .avatar {
    width: .9rem;
    height: .9rem;
    border-radius: 100%;
    box-shadow: 0 .02rem .04rem 0 rgba(0, 0, 0, .2);
    background: #fff;
    position: absolute;
    z-index: 3;
    top: .22rem;
    left: 2.1rem
}

.all-container .poster-container .poster-box .avatar img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    margin: 0 auto
}

.all-container .poster-container .poster-box .tips {
    position: absolute;
    z-index: 3;
    font-size: .18rem;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
    text-align: center;
    top: 1.22rem;
    width: 100%
}

.all-container .poster-container .poster-box .lines-box {
    width: 3.56rem;
    height: 1.68rem;
    position: absolute;
    top: 1.82rem;
    left: .59rem
}

.all-container .poster-container .poster-box .lines-box img {
    display: block;
    width: 100%;
    height: 100%
}

.all-container .poster-container .poster-box .lines-box .station {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.1rem;
    line-height: 1.1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
}

.all-container .poster-container .poster-box .lines-box .station span {
    font-size: .28rem;
    color: #6392fe;
    display: block;
    text-align: center;
    overflow: hidden;
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    margin-left: .5rem;
    padding: 0 .2rem
}

.all-container .poster-container .poster-box .lines-box .station .start {
    margin-left: 0
}

.all-container .poster-container .poster-box .company-box {
    position: absolute;
    top: 5rem;
    width: 100%;
    text-align: center
}

.all-container .poster-container .poster-box .company-box .OR-box {
    width: 1.8rem;
    height: 1.8rem;
    background: #fff;
    margin: 0 auto
}

.all-container .poster-container .poster-box .company-box .OR-box img {
    display: block;
    width: 100%;
    height: 100%
}

.all-container .poster-container .poster-box .company-box p {
    margin-top: .122rem;
    font-size: .2rem;
    color: #fff;
    text-shadow: 0 .01rem .02rem rgba(0, 0, 0, .5);
    line-height: .28rem
}

.all-container .poster-container .more {
    width: 1.42rem;
    height: 1.42rem;
    background: url(../../images/distribution/icon-more.png) 50% no-repeat;
    background-size: 100% 100%;
    position: absolute;
    bottom: 0;
    right: 0
}

.all-container .poster-switch-box {
    background: #fff;
    box-shadow: 0 .02rem .02rem 0 rgba(0, 0, 0, .1);
    padding: .2rem 0 .21rem;
    margin_top:0.5rem;
}

.all-container .poster-switch-box .switch {
    margin-left: .23rem
}

.all-container .poster-switch-box .switch .item {
    height: 1.8rem;
    width: 1.01rem;
    background-size: 100% 100%;
    margin-left: .5rem;
    float: left;
    position: relative
}

.all-container .poster-switch-box .switch .item:first-child {
    margin-left: 0;
    background: url(../../images/distribution/poster-bg-1.png) 50% no-repeat;
    background-size: 100% 100%
}

.all-container .poster-switch-box .switch .item:nth-child(2) {
    background: url(../../images/distribution/poster-bg-2.png) 50% no-repeat;
    background-size: 100% 100%
}

.all-container .poster-switch-box .switch .item:nth-child(3) {
    background: url(../../images/distribution/poster-bg-3.png) 50% no-repeat;
    background-size: 100% 100%
}

.all-container .poster-switch-box .switch .item:nth-child(4) {
    background: url(../../images/distribution/poster-bg-4.png) 50% no-repeat;
    background-size: 100% 100%
}

.all-container .poster-switch-box .switch .item:nth-child(5) {
    background: url(../../images/distribution/poster-bg-5.png) 50% no-repeat;
    background-size: 100% 100%
}

.all-container .poster-switch-box .switch .active:after {
    content: "";
    display: block;
    width: 1.01rem;
    height: 1.8rem;
    background: url(../../images/distribution/poster-check.png) 50% no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    top: 0
}

.all-container .poster-switch-box .notice {
    margin-top: .49rem;
    text-align: center
}

.all-container .poster-switch-box .notice .notice-btn {
    padding-left: .46rem;
    position: relative;
    font-size: .24rem;
    color: #999;
    line-height: .36rem;
    display: inline-block
}

.all-container .poster-switch-box .notice .notice-btn:before {
    content: "";
    display: block;
    width: .36rem;
    height: .36rem;
    background: url(../../images/distribution/icon-notice.png) 50% no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    top: 0
}

.all-container .popup-container {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, .3);
    top: 0;
    left: 0;
    padding-top: 1.656rem
}

.all-container .popup-container .popup-box {
    background: #fff;
    border-radius: .2rem;
    width: 6.6rem;
    margin: 0 auto
}

.all-container .popup-container .popup-box .type-box {
    width: 5.6rem;
    margin: 0 .46rem 0 .54rem;
    padding: .33rem 0
}

.all-container .popup-container .popup-box .type-box .type {
    font-size: .32rem;
    color: #333;
    position: relative;
    margin: .9rem 0 0
}

.all-container .popup-container .popup-box .type-box .type:first-child {
    margin: 0
}

.all-container .popup-container .popup-box .type-box .type .copy-btn {
    display: block;
    position: absolute;
    right: -.24rem;
    top: .1rem;
    background: #6392fe;
    border-radius: 1rem;
    padding: 0 .34rem;
    font-size: .28rem;
    height: .4rem;
    line-height: .4rem;
    color: #fff
}

.all-container .popup-container .popup-box .type-box .type .copy-btn:active {
    background: #014bfa
}

.all-container .popup-container .popup-box .type-box .type:before {
    content: "";
    display: block;
    width: .15rem;
    height: .15rem;
    border-radius: .15rem;
    background: #6392fe;
    position: absolute;
    top: .15rem;
    left: -.32rem
}

.all-container .popup-container .popup-box .type-box .type .hunter-url {
    width: 100%;
    height: 1.8rem;
    border: none;
    line-height: .45rem
}

.all-container .popup-container .popup-box .notice-box {
    padding: .416rem .39rem .702rem
}

.all-container .popup-container .popup-box .notice-box .title {
    font-size: .36rem;
    color: #333;
    text-align: center
}

.all-container .popup-container .popup-box .notice-box .img {
    width: 5.3rem;
    height: 1.52rem;
    background: url(../../images/distribution/notice-img.png) 50% no-repeat;
    background-size: 100% 100%;
    margin: .438rem auto .67rem
}

.all-container .popup-container .popup-box .notice-box .notice-content {
    font-size: .28rem;
    color: #333;
    max-height: 3.2rem;
    overflow: scroll
}

.all-container .popup-container .popup-box .close-btn {
    margin-top: .06rem;
    font-size: .38rem;
    color: #6392fe;
    padding: .2rem 0;
    text-align: center
}

.clearfloat:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0
}

.clearfloat {
    zoom: 1
}

#img-box img {
    display: block;
    width: 5.2rem;
    height: 8.4rem;
    margin: 0 auto;
}

canvas {
    display: none
}