@charset "utf-8";
body {
    background: #f3f4f5
}

.search-form {
    position: relative;
    background: #fff;
    box-shadow: 0 0 .2rem 0 hsla(0, 0%, 89%, .4)
}

.search-form .search-station {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.search-form .search-station .sui-list {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    display: flex;
}

.search-form .search-station .sui-list .icon-Line_icon {
    color: #d3d2db;
    position: absolute;
    top: .75rem;
    margin-left: .18rem;
    font-size: 24px
}

.search-form .search-station .sui-list .sui-li{
    flex: 1;
}

.search-form .search-station .sui-list .icon-line{
    width: 0.2rem;
    height: 1.5rem;
    background: url("../../images/commutingBus/index/icon-start-end.png") 100% no-repeat;
    background-size: 100%;
    margin: auto 0 auto 0.3rem;
}

.search-form .search-station .sui-list li {
    padding: .36rem 0 .35rem;
    background: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
}

.search-form .search-station .sui-list li span {
    -webkit-align-self: flex-end;
    align-self: flex-end;
    font-size: 12px
}

.search-form .search-station .sui-list li .icon-start_icon {
    color: #6392fe
}

.search-form .search-station .sui-list li .control {
    padding-left: .37rem;
    position: relative;
    width: 80%
}

.search-form .search-station .sui-list li .control input {
    display: block;
    width: 100%;
    border: 0;
    font-family: PingFangSC-Regular;
    font-size: .28rem;
    letter-spacing: 0
}

.search-form .search-station .sui-list li .control input::-webkit-input-placeholder {
    color: #ccc
}

.search-form .search-station .sui-list li .control input::-moz-placeholder {
    color: #ccc
}

.search-form .search-station .sui-list li .control input:-ms-input-placeholder {
    color: #ccc
}

.search-form .search-station .sui-list li .control input:-moz-placeholder {
    color: #ccc
}

.search-form .search-station .sui-list .bottom-line {
    border-bottom: 1px solid #f1f1f1;
    margin-left: 0.37rem;
}

.hot-line-list header, .scheduling header {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    border-bottom: 1px solid #f2f2f2;
    height: .8rem
}

.hot-line-list header .border-weight, .scheduling header .border-weight {
    border-left: .06rem solid #6392fe;
    height: .24rem;
    -webkit-align-self: center;
    align-self: center
}

.hot-line-list header .title, .scheduling header .title {
    font-family: PingFangSC-Regular;
    font-size: .28rem;
    color: #bbb;
    letter-spacing: 0;
    margin: .2rem;
    width: 90%
}

 .scheduling header .nav-right {
    -webkit-align-self: center;
    align-self: center;
    vertical-align: middle;
    color: #ccc;
    font-size: 14px;
    margin-right: .2rem
}

.hot-line-list {
    margin: .2rem auto;
    width: 7.1rem;
    position: relative;
    background-color: #fff;
    border-radius: .06rem;
    box-shadow: 0 0 .2rem 0 hsla(0, 0%, 89%, .4)
}

.hot-line-list .line-list {
    width: 100%;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    text-align: center
}

.hot-line-list .line-list div {
    width: 50%;
    padding: .2rem;
    position: relative;
    font-family: PingFangSC-Regular;
    font-size: .24rem;
    color: #666;
    letter-spacing: 0;
    text-align: center;
    border-bottom: 1px solid #f2f2f2;
    border-right: .01rem solid #f2f2f2;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box
}

.hot-line-list .line-list .icon-Special_price_icon {
    display: block;
    position: absolute;
    top: -13px;
    left: 0;
    color: #EC5A6C;
    font-size: 24px
}

.hot-line-list .line-list div .discount {
    color: #000;
    text-decoration: line-through
}

.scheduling {
    width: 7.1rem;
    height: 2.11rem;
    margin: .2rem auto;
    background: #fff;
    box-shadow: 0 0 .2rem 0 hsla(0, 0%, 89%, .4);
    border-radius: .06rem
}

.scheduling .content {
    display: -webkit-inline-flex;
    display: -webkit-inline-box;
    display: inline-flex;
    margin-top: .12rem;
    width: 100%
}

.scheduling .content .addr {
    font-size: .24rem;
    color: #666;
    font-family: PingFangSC-Regular;
    letter-spacing: 0;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 1.86rem
}

.scheduling .content .area {
    font-size: .2rem;
    color: #aaa
}

.scheduling .content .startAdrs {
    margin-left: .39rem
}

.scheduling .content .center-line {
    margin: 0 .6rem
}

.scheduling .content .center-line .time {
    font-family: PingFangSC-Regular;
    font-size: .18rem;
    color: #6392fe;
    letter-spacing: 0;
    text-align: center
}

.scheduling .content .center-line .line {
    width: 1.42rem;
    height: .08rem;
    background: url(../../images/commutingBus/index/line.png) no-repeat 100%;
    background-size: 100% 100%
}

.scheduling .rolling ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    margin-top: .25rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center
}

.scheduling .rolling ul li {
    width: .12rem;
    height: .12rem;
    margin: 0 .06rem;
    border-radius: 100%;
    background: #eee
}

.scheduling .rolling ul .active {
    background: #6392fe
}

.scheduling .swiper-container {
    height: 1.29rem;
    width: 100%;
    cursor: pointer
}

.scheduling .swiper-container .swiper-pagination {
    bottom: 0;
    height: .4rem
}

.scheduling .swiper-container .swiper-pagination-bullet {
    width: .1rem;
    height: .1rem;
    border-radius: 100%;
    margin: 1.3rem .05rem
}

.scheduling .swiper-pagination-bullet-active {
    background: #6392fe
}

.scheduling .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: .2rem .05rem
}

.near-order {
    margin: .2rem auto;
    width: 7.1rem;
    position: relative;
    background-color: #fff;
    border-radius: .06rem;
    box-shadow: 0 0 .2rem 0 hsla(0, 0%, 89%, .4)
}

.near-order .content {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: inline-flex;
    margin: .23rem .2rem;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.near-order .content .location {
    font-size: 12px;
    color: #ccc
}

.near-order .content .addr {
    font-size: .24rem;
    color: #666;
    font-family: PingFangSC-Regular;
    letter-spacing: 0;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 1.88rem
}

.near-order .content .area {
    font-size: .2rem;
    color: #aaa
}

.near-order .content .startAdrs {
    margin-left: .2rem
}

.near-order .content .center-line {
    margin-left: .2rem;
    margin-right: .2rem
}

.near-order .content .center-line .arrow {
    color: #c3c3c3;
    font-size: .45rem
}

.near-order .content .btn-list {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: inline-flex;
    margin-left: .1rem
}

.near-order .content .btn-list div {
    background: #fff;
    box-shadow: 0 0 .2rem 0 hsla(0, 0%, 89%, .4);
    border-radius: .06rem;
    font-family: PingFangSC-Regular;
    font-size: .2rem;
    color: #aaa;
    letter-spacing: 0;
    text-align: center;
    margin-left: .1rem;
    width: .7rem;
    line-height: .4rem
}

.near-order .content .btn-list div:active {
    background: #6392fe;
    box-shadow: 0 0 .2rem 0 rgba(61, 59, 238, .3);
    color: #fff
}

.near-order .line {
    width: 90%;
    border-bottom: 1px solid #f2f2f2;
    float: right
}

.banner {
    margin: .2rem auto;
    width: 7.1rem
}

footer{
    width: 100%;
    bottom:0;
}


 .layer-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    margin: 0;
    padding: 0 0.25rem;
    z-index: 2001;
}

#swpLayer .swiper-container {
    width: 100%;
    margin: 0.35rem auto auto;
    padding: 0.9rem 0;
}

 .layer-wrapper .btnAd-close{
     position: fixed;
     top: 0.15rem;
     right: 0.25rem;
     z-index: 2003;
     width: 0.72rem;
     height: 0.72rem;
     background: url(../../images/commutingBus/icon_closebutton_c.png) no-repeat center;
     -webkit-background-size: 100% 100%;
     background-size: 100% 100%;
 }

.layer-modal {
    background-color: #000;
    height: 100%;
    left: 0;
    opacity: 0.5 !important;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;
}
